<div class="mapaInicio">
	<div class="container selectRegion">
		<div class="col-md-3 ">
			<label for="pwd">Narrativas disponibles:
			</label>
			<select class="mi-selector custom-select" data-style="form-control" data-live-search="true" title="-- Selecciona un usuario --" id="narrativeMode">
				<option value="1">Todas</option>
			</select>
		</div>
		<div class="col-md-3 ">
			<label for="pwd">Modelos Disponibles:
			</label>
			<select class="mi-selector custom-select" data-style="form-control" data-live-search="true" title="-- Selecciona un usuario --" id="modelSelect">
				<option value="2">DOR</option>
        <option value="1">DORw</option>
        <option value="3">Huella</option>
        <option value="4">Fragmentación</option>
        <option value="5">Sedimentos</option>
			</select>
		</div>
	</div>
	<br>
	<br>
	<div id='chart'></div>
	<div id='map'></div>
	<div class="popup-link">
		<a id="popup-link" href="#popup"><br>Ayuda</a>
	</div>
	<div id="cover-spin"></div>
</div>
<div class="modal-wrapper" id="popup">
	<div class="popup-contenedor">

		<div align="justify">
			Con base en los catálogos de proyectos definidos, existe una alta flexibilidad para identificar escenarios de expansión del sector hidroeléctrico en la
			                    Macrocuenca para cumplir objetivos de generación futura. No obstante, vale la pena preguntarse ¿Difieren sus impactos acumulativos, por ejemplo, en
			                    términos de la fragmentación de redes y hábitats fluviales, alteración aguas abajo y/o áreas inundadas de valor social, económico, cultural, etc.?
			                    En otras palabras, cuál (o cuáles) son las combinaciones de proyectos que permiten evitar la mayor cantidad de impactos a nivel de la Macrocuenca.
			<br><br>
			Por otra parte, en un contexto donde la toma de decisiones y las iniciativas de desarrollo de proyectos está distribuida entre múltiples actores públicos
			                    y privados, también es de gran relevancia responder a la pregunta ¿Cómo articular la toma de decisiones para producir mejores resultados a nivel de cuencas?<br><br>
			INTERPRETACIÓN DE LAS GRÁFICAS
			<br><br>
			<ul>
				<li>La línea continua representa la evolución histórica del impacto/beneficio.</li>
				<li>
					Cada punto de la gráfica representa un conjunto de proyectos, aleatoriamente seleccionados que cumplen con los lineamientos establecidos en la narrativa.</li>
			</ul>
		</div>
		<a class="popup-cerrar" href="#">X</a>
	</div>
</div>
