<div class="panelselect">
	<div class="container selectModel">
		<div class="col-md-3 ">
			<label for="pwd">Narrativas disponibles:*
			</label>
			<select class="mi-selector custom-select" multiple='multiple' data-style="form-control" data-live-search="true" title="-- Seleccione mínimo 1--" id="narrativeMode">
				
			</select>
		</div>
		<div class="col-md-3 ">
			<label for="pwd">Modelos Disponibles:*
			</label>
			<select  class="mi-selector custom-select" multiple='multiple' data-style="form-control" data-live-search="true" title="-- Seleccione mínimo 2 --" id="modelSelect">
				<option  selected value="2">DOR</option>
                <option  selected value="1">DORw</option>
				<option  selected value="3">Sedimentos</option>
				<option  selected value="4">Fragmentación</option>
			</select>
		</div>
	</div>
	<br>
	<br>


	<div>
		<div >
			<div align="justify">
				<b>*Para visualizar este digrama de ejes paralelos minímo se requieren de 2 modelos y al menos una narrativa
				seleccionados.</b>
				<br><br>
			</div>
			
		</div>
	</div>
	
</div>