/**
 * Your custom CSS.
 */
#sima {
  margin: 0 auto;
  text-align: center;
}

#split1_chart {
  width: 45%;
  float: left;
}

#split2_chart {
  width: 45%;
  float: right;
}

#clear {
  clear: both;
}

.custom-text {
  font-size: 14px;
}
