/* RIGHT TOP OVERLAYS */

.overlays-div{
  position:absolute;
  background-color: rgba(243, 243, 243,0.9);
  border:0px solid #666666;
  width:90px;
  height:90px;
  right: 0%;
  top: 1%;
  border-radius: 5px;
  overflow: auto;
  padding:20px;
  margin-top:50px;
}

.overlays-div.active{
    display:block; 
    width:35%;
    height:50%;   
}

.controls-for-overlay{
    width:100%;
    height:40px;
}

.analysis-overlay{
  /*Hides pop-up when there is no "active" class*/
 display:block;
  height:0%;

}
.analysis-overlay.active{
  /*displays pop-up when "active" class is present*/
  display:block;
  text-align:center;
  height:100%;
}

.analysis-content {
  /*Hides pop-up content when there is no "active" class */
 display:none;
 height:0%;
}

.analysis-content.active {
  /*Shows pop-up content when "active" class is present */
  display:block;
  height:100%;
}

.minimize_analysis{
  display: none;
}


.help-overlay{
  /*Hides pop-up when there is no "active" class*/
 display: none;
}
.help-overlay.active{
  display:block;
}

.help-content {
  /*Hides pop-up content when there is no "active" class */
 display: none;
}

.help-content.active {
  /*Shows pop-up content when "active" class is present */
  display:block;
}

.expand_help{
  display: none;
}


/* END RIGHT TOP OVERLAYS */


.legend-overlay{
  /*Hides pop-up when there is no "active" class*/
  visibility:visible;
  position:absolute;
  background-color: rgba(245, 245, 245,0.9);
  border:0px solid #666666;
  right:2%; 
  bottom:2%;
  border-radius: 5px;
      overflow: auto;
    max-height: 80%;
    
}
.legend-overlay.active{
  /*displays pop-up when "active" class is present*/
  visibility:visible;
  text-align:center;
}

.legend-content {
  /*Hides pop-up content when there is no "active" class */
 visibility:hidden;
}

.legend-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility:visible;
}

#img-legend img {
    width: 250px;
    padding: 5px;
}

#content {
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
}

#menu_loading{
    color: black;
    text-align: center;
    width: 280px;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    position: absolute;
    z-index: 10;  
    top:50px;  
    display:none;
}
.spinner-overlay{
  /*Hides pop-up when there is no "active" class*/
  position:absolute;
  background-color: rgba(255,255,255,0.0);
  border:0px solid #666666;
  width:40%;
  height:100%;
  right:0; 
  top:0%;
  border-radius: 0px;
  max-height: 50%;
  margin-top: 80px;      
  margin-right: 30px;   
  display:none;
}
.spinner-overlay.active{
  /*displays pop-up when "active" class is present*/
  text-align:center;
  display:block;
}

.spinner-content {
  /*Hides pop-up content when there is no "active" class */
 display:none;
}

.spinner-content.active {
  /*Shows pop-up content when "active" class is present */
  display:block;
  
}

#nav-bar_spinner{
  text-align:center;
  display: inline-block;
  margin-top: 10%;
}

.spinner-overlay2{
  /*Hides pop-up when there is no "active" class*/
  
  visibility:hidden;
  position:absolute;
  background-color: rgba(255,255,255,0.0);
  border:0px solid #666666;
  width:100%;
  height:100%;
  right:0; 
  top:0%;
  border-radius: 0px;
}
.spinner-overlay2.active{
  /*displays pop-up when "active" class is present*/
  visibility:visible;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin-top:200px;
}

.spinner-content2 {
  /*Hides pop-up content when there is no "active" class */
 visibility:hidden;
}

.spinner-content2.active {
  /*Shows pop-up content when "active" class is present */
  visibility:visible;
}

.spinner-img{
    vertical-align: middle;
}

#pie-div{
    width:100%;
    height:100%;
    
}
#series-wrapper{
    width:100%;
    height:100%;
    
}
#histo-wrapper{
    width:100%;
    height:100%;
    
}

.table-width{
  width: 50%;
}

.p_custom{
  color:#2b2b2b;
  font-size: 14px;
}
.close{
    padding: 10px;
    margin: 10px;
}
.map{
    height:800px;
    /*height:calc(100vh - 150px);*/
    width: 100%;
}

#sidebar small{
    color: #2b2b2b;
}

#sidebarCollapse{
  background-color: #fafafa;
  color: #2b2b2b;
}

#mapCollapse{
  background-color: #fafafa;
  color: #2b2b2b;
}

.select-opt{
  padding: 5px;
}
#spinner{
  display: none;
}

#controles{
  display: none;
}

#date_caption{
    padding-left:5px;
}
#opacity_caption{
    padding-left:5px;
}

#slider-range
{
width: 90%;
margin-left: 5%;
}

.control_title_strong {
    color:black;
    font-weight: normal;
    padding-bottom:15px;
} 

.control_title {
    padding-bottom:15px;
} 

.graph_indicators{
    padding-top:8px;
    padding-bottom:0px;
}

.str_small{
  font-size: 12px;
}
.close_analysis{
  z-index: 9999; 
}

.minimize_analysis{
  z-index: 9999; 
}
.font-size14{
  font-size: 14px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.help-overlay h5{
    padding-top:20px;
  
}

.date_Type_Radio{
    color:black;
    font-family: 'Poppins', sans-serif;
    font-size:12px;
}
input:checked + .slider {
  background-color: #006941;
}

input:focus + .slider {
  box-shadow: 0 0 1px #006941;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.charts-color {
  color:#2b2b2b;
}

.white_font {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 25rem;
  font-size:24px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#layer-options{
  display: none;
}

#reversedRange, #opacity_Selector{
  width:100%;
}

#ShapeSelector{
  
}

.ui-widget-header {
    background: #006941;
}

.flag_unselected{
  color:#c3bdbd;
}

.flag_selected{
  color:green;
}

/* DRUPAL CSS CHANGES */
.main-row{
    position: sticky;
}

.container{
    width:90%;
}
