.selectRegion {
  margin-bottom: 20px;
  }
#chart{
    margin-top: 40px auto;
    width:1100px;
    height: auto;
}

#map{
    margin:auto;
    width:1100px;
    height: 500px;
    margin-top: 20px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}
#baseLineSelect{
    margin:20px;
}
#models{
    margin:20px;
}
/*Legend specific*/
.legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
    /*border-radius: 5px;*/
    line-height: 24px;
    color: #555;
  }
  .legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
  }

  .legend span {
    position: relative;
    bottom: 3px;
  }

  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
  }

  .legend i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
  }
  .tableLegend {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul {
  list-style-type: disc;
}
/*popup*/

#popup {
  visibility: hidden;
  opacity: 0;
  margin-top: -300px;
  position: absolute;
}

#popup:target {
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 999;
  transition: all 1s;
}

.popup-contenedor h1 {
  font-size: 2vw;
  padding-bottom: 3vw;
  width: 100%;
  margin-left: 200px;
}

.popup-contenedor {
  background-image: url(/profiles/dss_magdalena/modules/dss_magdalena/dss_interface/images/03-FONDOS/01-fondo.jpg);
  background-repeat: no-repeat;
  background-size: 291%;
  background-position: center;
  position: relative;
  margin: 3% auto;
  padding: 4vw 4vw 0% 3%;
  color: #333;
  border-radius: 3px;
  width: 34%;
  height: 89%;
  text-align: center;
  margin-right: 3%;
  box-shadow: inset 0 0 10px 5px #000000;
}

a.popup-cerrar {
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: #333;
  padding: 7px 10px;
  font-size: 20px;
  text-decoration: none;
  line-height: 1;
  color: #fff;
}

.popup-contenedor h1 {
  text-align: center;
}

.popup-link a {
  background-image: url(/profiles/dss_magdalena/modules/dss_magdalena/dss_interface/images/elementos_index/progreso.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 4.8% 1% 2% 1%;
  color: rgb(17, 87, 104);
  display: scroll;
  position: fixed;
  bottom: 40%;
  right: 2%;
  font-weight: bold;
}