/**
 * Your custom CSS.
 */

.dc_leaflet_title {
  height: 26px;
  font-size: 20px;
}

.choropleth_map {
  height: 400px;
  width: 100%;
  z-index: 2;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.cpicker {
  text-align: right;
}

.textGUISet {
    width: 6em;
}

.textLabelGUISet {
    width: 10em;
}

.legendButton {
    height: 18px;
    vertical-align: middle;
    line-height: 12px;
}

.tableLegend {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
