#popup-message-background {
  display: none;
  position: fixed;
  _position: absolute; /* hack for internet explorer 6*/
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000000;
  border: 1px solid #cecece;
  z-index: 1;
}

#popup-message-window {
  display: none;
  position: fixed;
  _position: absolute; /* hack for internet explorer 6*/
  overflow: auto;
  background: #ffffff;
  border: 2px solid #cecece;
  z-index: 200;
  padding: 12px;
  font-size: 13px;
}

#popup-message-window h1.popup-message-title {
  text-align: center;
  color: #105659;
  font-size: 36px;
  border-bottom: 1px dotted #d3d3d3;
  padding-bottom: 2px;
  margin-bottom: 20px;
  font-weight: bold;
}

#popup-message-close {
  font-size: 18px;
  line-height: 14px;
  right: 6px;
  top: 4px;
  position: absolute;
  color: #6fa5fd;
  font-weight: 700;
  display: block;
  cursor: pointer;
}
