/**
 * Your custom CSS.
 */
table.eloha_table {
  margin-top: 20px;
}

table.eloha_table td,
th {
  padding: 5px 22px 5px 7px;
  border: 1px solid white;
  max-width: 82px;
}

table.eloha_table td {
  font-weight: bold;
}

#sima > svg {
  margin-left: 70px;
}

svg.ind {
  margin-left: 0px;
}

span.ind {
  padding-left: 2px;
}
