/**
 * Your custom CSS.
 */
.c3-ygrid-line {
  stroke-dasharray: 2;
}

.c3-grid text {
  font-size: 15px;
  fill: none;
}

.c3-axis-y-label {
  font-size: 15px;
}

.c3-axis-x-label {
  font-size: 15px;
}

.c3-line {
  stroke-width: 2px;
}

.c3-legend-item {
  font-size: 14px;
}

.tick {
  font-size: 14px;
}

span.type_line_active {
  text-decoration: underline;
}
