@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
    background: #f2f2f2;
    font-family: 'Poppins', sans-serif;
}

h3{
    font-family: 'Poppins', sans-serif;
}

.social-box .box{
    background: #FFF;
    margin: 10px;
    border-radius: 10px;
    padding: 20px 10px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.social-box .box:hover{
   box-shadow: 0 0 6px #4183D7;
}

.social-box .box .box-text{
    margin:20px 0px;
    font-size: 15px;
    line-height: 30px;
}

.social-box .box .box-btn a{
    text-decoration: none;
    color: #4183D7;
    font-size: 16px;
}

.fa{
     color:#4183D7;
}

.list-group{
    display: none;
}

.botones:hover .list-group{
    display: list-item;
}


.list-group-item{
    color:#104659;
    font-size: small ;
}

ul{
    list-style: none;

}

.imagenesds{
    width: 80px;
    height: 100px;
}
.logop{
    max-height: 200px;
}

.was-validated .bootstrap-select .selectpicker:valid + .dropdown-toggle {
    border-color: #28a745;
  }

  .was-validated .bootstrap-select .selectpicker:invalid + .dropdown-toggle {
    border-color: #b94a48;
  }
  select.selectpicker {
    display: none !important;
  }

.custom-select{
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
}
