.dss_engine-modeling-status-ok {
  color: blue;
}
.dss_engine-modeling-status-processing {
  color: orange;
}
.dss_engine-modeling-status-ready {
  color: green;
}
.dss_engine-modeling-status-not-ready {
  color: red;
}

.branding .logo {
  margin: 20px 20px 0px 0 !important;
}
