#field-landuse-values thead .field-label {
  text-align: center;
}

#field-landuse-values .field-name-field-irr-land-use .form-select {
  min-width: 173px;
}

#field-landuse-values .field-name-field-perc-landuse .form-text,
#field-landuse-values .field-name-field-irr-perc-area .form-text {
  width: 80%;
  text-align: right;
}

#field-landuse-values .form-invisible {
  visibility: hidden;
}

#field-landuse-values .field-name-field-perc-landuse .form-item .form-text,
#field-landuse-values .field-name-field-irr-perc-area .form-item .form-text {
  float: left;
  margin-right: 5px;
}

#field-landuse-values .field-prod-land-use-justified-right {
  text-align: right;
}

.field-type-taxonomy-term-reference {
  float: left;
}
