.fa_i{
    text-align: center;
}
.fa_i>i{
    color:#105659;
    font-size: 2em;
}


.content_info{
    /*padding:0 50px 50px 100px;*/
}

.page-header
{font-size: 30px !important;
line-height: 36px;
font-weight: 300 !important;
}
@media (min-width: 768px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1  {
      width: 100%;
      *width: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
    }
  }
  
  /**
   *  The following is not really needed in this case
   *  Only to demonstrate the usage of @media for large screens
   */    
  @media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
    }
  }
h1 {
    display: block!important;
    font-size: 2em!important;
    margin-top: 0.67em!important;
    margin-bottom: 0.67em!important;
    margin-left: 0!important;
    margin-right: 0!important;
    font-weight: bold!important;
}
h2{
    display: block!important;
    font-size: 1.5em!important;
    margin-top: 0.83em!important;
    margin-bottom: 0!important;
    margin-left: 0!important;
    margin-right: 0!important;
    font-weight: bold!important;
}
h3 {
    display: block!important;
    font-size: 1.17em!important;
    margin-top: 0.3em!important;
    margin-bottom: 0.3em!important;
    margin-left: 0!important;
    margin-right: 0!important;
    font-weight: bold!important;
}
h4,h4 a {
    display: block!important;
    font-size: 1em!important;
    margin-top: 0.33em!important;
    margin-bottom: 1.33em!important;
    margin-left: 0!important;
    margin-right: 0!important;
    font-weight: bold!important;
}
h5 {
    display: block!important;
    font-size: .83em!important;
    margin-top: 1.67em!important;
    margin-bottom: 1.67em!important;
    margin-left: 0!important;
    margin-right: 0!important;
    font-weight: bold!important;
}
h6 {
    display: block!important;
    font-size: .67em!important;
    margin-top: 2.33em!important;
    margin-bottom: 2.33em!important;
    margin-left: 0!important;
    margin-right: 0!important;
    font-weight: bold!important;
}
.img_titulo{
    width: 6em;
    margin: auto;
}
.row_partes{
    text-align: center;
}
.row_partes .partes{
    padding-bottom: 30px;

    margin-bottom: 50px;
    background-color: #f3f3f3;        
}


.thumbnail{
    background-color: #fff!important;
    padding: 10px!important;
}

.container{
    width: 80vw!important;
}

.card{
    text-align: center;
}
#titulo_caso {
    margin-bottom: 15px!important;
    
}
#titulo_caso h1{
    margin-bottom: 0px!important;
}

.alt1 p{ 
    height: 50px; 
    overflow: hidden;
    text-align: justify;
}
.alt2 p{ 
    height: 50px; 
    overflow: hidden;
    text-align: justify;
}
.alt3 p{ 
    height: 50px; 
    overflow: hidden;
    text-align: justify;
}
.esc1 p{ 
    height: 50px; 
    overflow: hidden;
    text-align: justify;
}
.esc2 p{ 
    height: 50px; 
    overflow: hidden;
    text-align: justify;
}
.esc3 p{ 
    height: 50px; 
    overflow: hidden;
    text-align: justify;
}


.visible{ 
    height: auto!important;
    overflow: visible!important;
}
.showbtn{
    width: 100%;
} 