.bg-adm-transparent h3{
    color:#fff;
}
.jmb{
    padding-right: 0px!important;
    padding-right: 60px!important;
    padding-left: 33px !important;

}

.jmb img{
    margin: 25px;

    max-height: 150px;
}

.jumbotron h1{
    color: #105659!important;
 
    margin-bottom: 20px!important;
    font-size: 50px!important;
    /*margin: 0px 0px 0px 0px ;*/
}
.social-box .box{
    background: rgba(61, 103, 118, 0.6);
    border-radius: 10px; 
    padding: 40px 10px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.social-box .box:hover{
   box-shadow: 0 0 6px #4183D7;
}

.social-box .box .box-text{
    margin:20px 0px;
    font-size: 15px;
    line-height: 30px;
}

.social-box .box .box-btn a{
    text-decoration: none;
    color: #4183D7;
    font-size: 16px;
}

.box-dss-adm img{
    width: 30px;
    height: 30px;
}

.panel1{
    background-color: rgba(61, 103, 118, 0.8);
    

}
.pad-top{
    padding-top: 40px;
}

.jumbotron{
    margin-top: 20px;
}
.thumbnail{
    display: block;
    padding: 4px!important;
    margin-bottom: 20px!important;
    line-height: 1.42857143!important;
    background-color: #fff!important;
    border: 1px solid#ddd!important;
    border-radius: 4px!important;
    -webkit-transition: border .2s ease-in-out!important;
    -o-transition: border .2s ease-in-out!important;
    transition: border .2s ease-in-out!important;
}

.caption {
    padding: 0px!important;
    margin-left:25px;
}
.caption h3 {
    padding: 0px!important;
}

.card_title{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}