/*custom font*/

@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: montserrat, arial, verdana;
    background: transparent;
}


/*form styles*/

#msform {
    position: relative;
    margin-top: 30px;
    margin-left: 2.5%;
}

#msform fieldset {
    box-sizing: border-box;
    width: 100%;
    border: none;
}


/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {
    display: none;
}


/*inputs*/

#msform input,
select,
#msform textarea {
    display: block;
    width: 99%;
    height: 37px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: compact(inset 0 1px 1px rgba(0, 0, 0, 0.075), false, false, false, false, false, false, false, false, false);
}

input#radio {
    width: 12%;
    height: auto;
}

input#questionEv {
    width: 12%;
    height: auto;
}

input#questionPro {
    width: 12%;
    height: auto;
}

input#questionHue {
    width: 12%;
    height: auto;
}


/*buttons*/

#msform .action-button {
    width: 127px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font: 12px arial, sans-serif;
    font-weight: bold;
    color: #666;
    text-shadow: 0 1px 0 white;
    padding: 7px 12px;
    background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(whiteSmoke), to(#F1F1F1));
    margin: 2% 0% 2%;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

#msform .action-button-previous {
    width: 127px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font: 12px arial, sans-serif;
    font-weight: bold;
    color: #666;
    text-shadow: 0 1px 0 white;
    padding: 7px 12px;
    background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(whiteSmoke), to(#F1F1F1));
    margin-top: 2%;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}


/*headings*/

.fs-title {
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
}


/* Not relevant to this form */

.dme_link {
    margin-top: 30px;
    text-align: center;
}

.dme_link a:hover,
.dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}

.conter {
    height: 600px;
    width: 100%;
}

.progressbar {
    background-color: #1d7492;
    height: 25px;
}

.paso {
    height: 55px;
    background-color: #1d7492;
    color: white;
    font-size: 1.5em;
    line-height: 1;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 300
}

.contForm {
    border: 2px solid #1d7492;
    border-top: none;
    height: 393px;
}


/*arbol*/

.tree {
    width: 100%;
    text-align: center;
    margin-left: 4vw;
}

@media screen and (max-width:1510px) {
    .tree {
        margin-left: 2.5vw;
    }
}

.tree ul {
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    margin: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    width: 15vw;
}

.tree li::before,
.tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 2px solid rgb(165, 165, 165);
    width: 50%;
    height: 20px;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 2px solid rgb(165, 165, 165);
}

.tree li:only-child::after,
.tree li:only-child::before {
    display: none;
}

.tree li:only-child {
    padding-top: 0;
    width: 100%;
}

.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}

.tree li:last-child::before {
    border-right: 2px solid rgb(165, 165, 165);
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 2px solid rgb(165, 165, 165);
    width: 0;
    height: 20px;
}

.tree li div p {
    margin-top: 0.5vw;
    margin-bottom: 2vw;
    height: 100%;
    font-weight: bold;
}

.tree li div {
    border: 2px solid #FAFAFA;
    padding: 5px 10px;
    text-decoration: none;
    background: #FFFFFF;
    color: #0D333D;
    font-family: arial, verdana, tahoma;
    font-size: 0.85vw;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    border-radius: 12px;
    height: 4vw;
    width: 10vw;
    -webkit-box-shadow: -10px 14px 21px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -10px 14px 21px -8px rgba(0, 0, 0, 0.75);
    box-shadow: -10px 14px 21px -8px rgba(0, 0, 0, 0.75);
}


/*.tree li div:hover, .tree li div:hover+ul li div {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
  }
  .tree li div:hover+ul li::after, .tree li div:hover+ul li::before, .tree li div:hover+ul::before, .tree li div:hover+ul ul::before{
    border-color: #94a0b4;
  }
  */

#block-dkan-sitewide-dkan-sitewide-search-bar {
    display: none!important;
}

.opciones-adm-sima {
    padding: 0rem 0;
}

.elemento-adm-sima {
    text-align: center;
    padding: 5rem 0;
}


/*popup*/

#popup {
    visibility: hidden;
    opacity: 0;
    margin-top: -300px;
    position: absolute;
}

* #popup:target {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 999;
    transition: all 1s;
}

* .popup-contenedor h1 {
    font-size: 2vw;
    padding-bottom: 3vw;
    width: 100%;
    margin-left: 200px;
}

.popup-contenedor {
    background-image: url(/profiles/dss_magdalena/modules/dss_magdalena/dss_interface/images/03-FONDOS/01-fondo.jpg);
    background-repeat: no-repeat;
    background-size: 291%;
    background-position: center;
    position: relative;
    margin: 3% auto;
    padding: 4vw 4vw 0% 0%;
    color: #333;
    border-radius: 3px;
    width: 34%;
    height: 89%;
    text-align: center;
    margin-right: 3%;
    box-shadow: inset 0 0 10px 5px #000000;
}

a.popup-cerrar {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #333;
    padding: 7px 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    color: #fff;
}

.popup-contenedor h1 {
    text-align: center;
}

.popup-link a {
    background-image: url(/profiles/dss_magdalena/modules/dss_magdalena/dss_interface/images/elementos_index/progreso.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 4.8% 1% 2% 1%;
    color: rgb(17, 87, 104);
    display: scroll;
    position: fixed;
    bottom: 40%;
    right: 2%;
    font-weight: bold;
}

@media screen and (max-width:1126px) {
    .popup-link a {
        display: none;
    }
    #popup {
        display: none;
    }
}

@media screen and (max-width:1370px) {
    .popup-link a {
        padding: 3.8% 0% 1% 0%;
        bottom: 20%;
    }
}

.popup-link a:hover {
    background-image: url(/profiles/dss_magdalena/modules/dss_magdalena/dss_interface/images/elementos_index/progreso1.png);
    text-decoration: none;
    color: rgb(79, 182, 241);
}

.hola {
    height: 100%;
    margin: 0;
}

#map {
    width: 100%;
    height: 445px;
}

#cover-spin {
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#cover-spin::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.mapaInicio {
    display: flex;
    position: relative;
}

.botonFlotante {
    position: absolute;
    z-index: 1;
    bottom: 15%;
    right: 1%;
    -webkit-box-shadow: -9px 13px 19px 0px rgba(0, 0, 0, 0.50);
    border: solid 2px;
}


/*#proyectos*/

#proyectos {
    visibility: hidden;
    opacity: 0;
    margin-top: -300px;
    position: absolute;
}

* #proyectos:target {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 999;
    transition: all 1s;
}

* .proyectos-contenedor {
    position: relative;
    margin: 3% auto;
    padding: 2% 2.6%;
    background-color: #fafafa;
    color: #333;
    border-radius: 3px;
    width: 95%;
    height: 90%;
    display: flex;
}

@media screen and (max-height:566px) {
    .proyectos-contenedor {
        overflow: scroll;
    }
}

.titulos h1 {
    text-align: center;
    width: 100%;
    font-size: 3vw;
    vertical-align: top;
}

a.proyectos-cerrar {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #333;
    padding: 7px 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    color: #fff;
}

.pantallaDividia {
    display: flex;
    text-align: center;
}

.izquierda {
    text-align: justify;
    width: 50%;
    padding: 3% 8% 10% 8%;
    border-right: 3px dashed #104659;
    line-height: 1.5vw;
    height: 39vw;
}

.izquierda img {
    vertical-align: top;
    width: 17%;
}

.textoImg {
    width: 70%;
    display: inline-block;
    margin-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.derecha {
    width: 50%;
    padding: 3% 5% 10% 5%;
}

.derecha p {
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    padding: 2%;
    -webkit-box-shadow: -26px 21px 40px -23px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -26px 21px 40px -23px rgba(0, 0, 0, 0.75);
    box-shadow: -26px 21px 40px -23px rgba(0, 0, 0, 0.75);
}

.derecha img {
    max-width: 37vw;
    max-height: 40vw;
    padding-bottom: 1vw;
}


/*#modelos*/

#modelo {
    visibility: hidden;
    opacity: 0;
    margin-top: -300px;
    position: absolute;
}

* #modelo:target {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 999;
    transition: all 1s;
}

* .modelo-contenedor {
    position: relative;
    margin: 3% auto;
    padding: 2% 2.6%;
    background-color: #fafafa;
    color: #333;
    border-radius: 3px;
    width: 95%;
    height: 90%;
    display: flex;
}

@media screen and (max-height:566px) {
    .modelo-contenedor {
        overflow: scroll;
    }
}

.titulos h1 {
    text-align: center;
    width: 100%;
    font-size: 3vw;
    vertical-align: top;
}

a.modelo-cerrar {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #333;
    padding: 7px 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    color: #fff;
}

.pantallaDividia {
    display: flex;
    text-align: center;
}

.izquierda {
    text-align: justify;
    width: 50%;
    padding: 3% 8% 10% 8%;
    border-right: 3px dashed #104659;
    line-height: 1.5vw;
    height: 39vw;
}

.izquierda img {
    vertical-align: top;
    width: 17%;
}

.textoImg {
    width: 70%;
    display: inline-block;
    margin-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.derecha {
    width: 50%;
    padding: 3% 5% 10% 5%;
}

.derecha p {
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    padding: 2%;
    -webkit-box-shadow: -26px 21px 40px -23px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -26px 21px 40px -23px rgba(0, 0, 0, 0.75);
    box-shadow: -26px 21px 40px -23px rgba(0, 0, 0, 0.75);
}

.derecha img {
    max-width: 37vw;
    max-height: 40vw;
    padding-bottom: 1vw;
}


/*#inicio*/

#inicio {
    visibility: hidden;
    opacity: 0;
    margin-top: -300px;
    position: absolute;
}

* #inicio:target {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 999;
    transition: all 1s;
}

* .inicio-contenedor {
    position: relative;
    padding: 2% 2.6%;
    background-color: #fafafa;
    color: #333;
    border-radius: 3px;
    width: 94%;
    height: 94%;
    margin: auto;
    margin-top: 2%;
}

@media screen and (max-height:566px) {
    .inicio-contenedor {
        overflow: scroll;
    }
}

.titulos h1 {
    text-align: center;
    width: 100%;
    font-size: 3vw;
    vertical-align: top;
}

a.inicio-cerrar {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #333;
    padding: 7px 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    color: #fff;
}

.pantallaDividia {
    display: flex;
    text-align: center;
}

.inicioIzquierda {
    text-align: justify;
    width: 50%;
    padding: 0% 4% 0% 2% !important;
    border-right: 3px dashed #104659;
    line-height: 1.5vw;
    height: 35vw;
}

.inicioIzquierda img {
    vertical-align: top;
    width: 17%;
}

.inicioDerecha {
    padding: 0% 5% 10% 5%;
}

.inicioDerecha p {
    margin-left: 5%;
}

.inicioDerecha img {
    max-width: 37vw;
    max-height: 40vw;
    padding-bottom: 1vw;
    height: 15vw;
    text-align: center;
}