/**
 * Your custom CSS.
 */

.c3-legend-item {
  font-size: 14px;
}

.tick {
  font-size: 14px;
}

.c3-axis-y-label {
  font-size: 14px;
}

.c3-axis-x-label {
  font-size: 14px;
}

.histogram_title h1 {
  text-align: center;
}