/**
 * Your custom CSS.
 */

table.eloha_table {
  margin-top: 20px;
  font-size: 12px;
}

table.eloha_table td,
th {
  padding: 5px 22px 5px 7px;
  border: 1px solid white;
  max-width: 82px;
}

table.eloha_table td {
  font-weight: bold;
}

table.eloha_tooltip {
  margin-top: 20px;
  font-size: 12px;
}

#sima {
  margin: 0 auto;
  text-align: center;
}

svg.ind {
  margin-left: 0px;
}

span.ind {
  padding-left: 2px;
}

.c3-area {
  opacity: 0.8;
}

.ui-tooltip {
  max-width: 600px;
}

.ui-tooltip-content {
  max-width: 600px;
}

