#sima {
  margin-bottom: 350px;
}

.c3-axis-y-label {
  font-size: 15px;
}

.c3-axis-x-label {
  font-size: 15px;
}

.c3-ygrid {
  stroke-dasharray: 0;
}

.c3-grid line {
  stroke: #e2e2e2;
}

.c3-legend-item {
  font-size: 14px;
}

.tick {
  font-size: 14px;
}

text.symbol_big {
  font-size: 35px;
}

text.symbol_small {
  font-size: 25px;
}

#block-system-powered-by {
  display: none;
}

.symbol_big {
  font-size: 35px;
}

.symbol_small {
  font-size: 25px;
}

table.symbol_table tr th {
  padding: 5px;
  padding-bottom: 0;
  text-align: center;
}

table.symbol_table tr td {
  padding: 5px;
  padding-bottom: 0;
}
