/******* main nav ************/

 /* full width drop down */
.tb-megamenu,
.block-tb-megamenu,
.navbar-nav>li.mega-align-justify { position:static; }

.navbar-default { background-image:none;background-color: rgba(255,255,255,0.97); border:0;  box-shadow: 0 1px 1px -1px rgba(0,0,0,0.2);}
.navbar-default .first .nolink { margin-top:8px; display:block; border-top:0;}
 
.navbar-nav .mega-align-right > .dropdown-menu { right:0; left: auto;}

.navbar-nav>li>.dropdown-menu ul { margin:2px 0 0; }
.navbar-nav>li>.dropdown-menu li a:hover { text-decoration:none; }
.navbar-nav>li>.dropdown-menu ul.level-1 { list-style:none; padding:0px 1px 1px 1px; }

.navbar-nav>li>.dropdown-menu ul.level-2 { margin:0 8px 0 32px; padding:0 0 0 0px;;}
.navbar-nav>li>.dropdown-menu ul.level-2 a { font-size:100%; font-weight:400; margin-top:0; }

@media (min-width: 768px) and (max-width: 990px) { 

.navbar-header .logo { max-width:200px; }
.navbar-nav li.level-1>a { padding-left:4px; padding-right:4px; font-size:90%; }
.navbar-nav li.level-1.nav-search>a { width:38px;}
}

@media (min-width: 768px) {

/* nav compact home btn */
.navbar-nav .nav-home a {background-color:transparent!important; width:52px;  height:50px; overflow:hidden;  border-left: 1px dashed #666!important; margin-left:20px;}

/* nav compact search btn */
.navbar-nav .nav-search  { }
.navbar-nav .nav-search a  {  width:62px;  height:50px;  overflow:hidden; border-right:none!important; border-top:0px solid #fff!important;}
.navbar-nav .nav-search a.dropdown-toggle:hover,
.navbar-nav .nav-search.open a.dropdown-toggle i { color:#fff; }

.navbar-nav #block-search-form { padding:12px; }
.navbar-nav #block-search-form .form-group { margin:0; }

}

/* nav mobile */
@media (max-width: 768px)  {
    
.navbar-header {display:inline-block; padding-left:12px;}
.icon-bar:before { content:''!important; } 
/*.navbar-nav li { border-bottom:1px solid #eee; border-right:0; margin:0 0px 0 0;}*/
.navbar-nav li.last { border-bottom:0; border-right:0; margin:0 0px 0 0;}
.navbar-nav li a { border-right:0; }

}

/* admin menu */
body.navbar-is-fixed-top.admin-menu .navbar-fixed-top {top:33px;}

#admin-menu { z-index:10000;  }
