/**
 * Your custom CSS.
 */
#sima {
  text-align: center;
}

.radar-chart .area {
  fill-opacity: 0.0;
}
.radar-chart.focus .area {
  fill-opacity: 0.0;
}
.radar-chart.focus .area.focused {
  fill-opacity: 0.0;
}

.legend_controls {
  display: inline;
  margin-right: 5px;
  border-left: 2px solid lightgray;
  border-right: 2px solid lightgray;
  padding: 5px;
}
