.leaflet-title h3 {
  height: 25px;
  width: 100%;
}

.leaflet-headers {
  margin-bottom: 5px;
  overflow: hidden;
}

.leaflet-headers h4 {
  height: 30px;
  float: left;
  width: 45%;
  overflow: hidden;
}

#dss-visualizations-time-slider-form {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#dss-visualizations-time-slider-form label {
  overflow: hidden;
  float: right;
  padding: 20px;
  margin-left: 8px;
}

#dss-visualizations-time-slider-form select {
  overflow: hidden;
  float: right;
  width: 20%;
  position: relative;
  top: 50%;
  transform: translate(0, 25%);
  margin-left: 5px;
}

#dss-visualizations-map-form {
  float: right;
  width: 55%;
  overflow: hidden;
  position: relative;
}

#dss-visualizations-map-form select {
  overflow: hidden;
  float: right;
  width: 24%;
  margin-left: 5px;
}

#dss-visualizations-map-form #edit-scale-select select {
  position: relative;
  float: right;
  width: 15%;
}

#edit-visualization-control-select {
  width: 10%;
  float: right;
}
