/**
 * Your custom CSS.
 */

#sima {
  margin: 0 auto;
  text-align: center;
}

#wb_chart_container {
  margin: 0 auto;
  text-align: center;
}

#wb_chart_1 {
  width: 50%;
  float: left;
}

#wb_chart_2 {
  width: 50%;
  float: right;
}

#wb_legend {
  margin: 0 auto;
  text-align: center;
}

#wb_legend_1 {
  width: 50%;
  float: left;
  text-align: center;
}

#wb_legend_2 {
  width: 50%;
  float: right;
  text-align: center;
}

.legend_custom span {
  display: inline-block;
  margin-left: 1px;
  margin-right: 5px;
  padding: 5px;
  font-size: 14px;
}