<img src="/profiles/dss_magdalena/modules/dss_magdalena/dss_page_pesca/js/img/logo.png" class="logoapp img-responsive center-block"></img>
<h4 class="rtecenter desc">
    A través de esta Aplicación móvil, SIMA permite que pescadores de la cuenca del Magdalena compartan datos de sus faenas y contribuyan al conocimiento de las especies y de las dinámicas de la actividad. La App permite consolidar datos sobre sus principales
    rutas de comercialización (a quién y dónde se vende el pescado), datos sobre el comercio, los costos de los insumos y sus gastos.
</h4>


<div class="Pescador-cont">
    <div class="col-md-4 opciones1">
        <ul class="flex cards">
            <li>
                <div class="card-item btn1 activo_i">
                    <h2>Mi pez</h2>
                    <div class="row act">
                        <div class="col-xs-12">
                            <img class="img-responsive" src="/profiles/dss_magdalena/modules/dss_magdalena/dss_page_pesca/js/img/minilogo.png" alt="Imagen_mipez"></img>
                        </div>
                        <div class="col-xs-12 rtecenter">
                            MiPez es una herramienta que permite que un pescador lleve la trazabilidad de sus faenas, sus ventas y costos. Con la información que suministra permite mejorar la información sobre distribución de especies y de sus caracteristicas.
                        </div>
                        <div class="linea-i">
                            <div class="circulo-i"></div>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="card-item btn2">
                    <h2>Mi región</h2>
                    <div class="row">
                        <div class="col-xs-12">
                            <img class="img-responsive" src="/profiles/dss_magdalena/modules/dss_magdalena/dss_page_pesca/js/img/mi-region.jpg" alt="Mi region"></img>
                        </div>
                        <div class="col-xs-12 rtecenter">
                            Accede y consulta información geográfica más relevante de la región.
                        </div>
                        <div class="linea-i">
                            <div class="circulo-i"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card-item btn3">
                    <h2>Mis colegas</h2>
                    <div class="row ">

                        <div class="col-xs-12">
                            <img class="img-responsive" src="/profiles/dss_magdalena/modules/dss_magdalena/dss_page_pesca/js/img/MIS-COLEGAS.jpg" alt="img_mis_colegas"></img>
                        </div>

                        <div class="col-xs-12 rtecenter">
                            El usuario de la aplicación podrá consultar y contactar los usuarios registrados en la aplicación.
                        </div>
                        <div class="linea-i">
                            <div class="circulo-i"></div>
                        </div>
                    </div>

                </div>
            </li>
            <li>
                <div class="card-item btn4">
                    <h2>Mis reportes</h2>

                    <div class="row ">
                        <div class="col-xs-12">
                            <img class="img-responsive" src="/profiles/dss_magdalena/modules/dss_magdalena/dss_page_pesca/js/img/reportes.jpg" alt="img_mis_colegas"></img>
                        </div>
                        <div class="col-xs-12 rtecenter">
                            Informes consolidados de datos de ventas, gastos, consumo y especies capturadas.
                        </div>
                        <div class="linea-i">
                            <div class="circulo-i"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <div class="col-md-4 tel">

        <div class="smartphone">
            <div class="smart-btn-lock">
            </div>
            <div class="smart-btn-up">
            </div>
            <div class="smart-btn-down">
            </div>
            <div class="content">
                <img id="myImg" clas="" src="/profiles/dss_magdalena/modules/dss_magdalena/dss_page_pesca/js/img/00-App.jpg">
                <!-- <p class="txtCel"></p> -->
            </div>
        </div>


    </div>

    <div class="col-md-4 opciones1">
        <ul class="flex cards">
            <li>
                <div class="card-item btn5">
                    <h2>Mis faenas</h2>

                    <div class="row ">
                        <div class="col-xs-12">
                            <img clas="img-responsive" src="/profiles/dss_magdalena/modules/dss_magdalena/dss_page_pesca/js/img/MIS-FAENAS.jpg" alt="img_mis_colegas"></img>
                        </div>
                        <div class="col-xs-12 rtecenter">
                            Permite llevar un control de los recorridos de pesca del usuario. Esta herramienta permite al usuario ingresar datos de pesca tales como especie, peso, duración y recorrido de la faena.
                        </div>
                        <div class="linea-d">
                            <div class="circulo-d"></div>
                        </div>
                    </div>

                </div>
            </li>
            <li>
                <div class="card-item btn6">
                    <h2>Mis herramientas</h2>
                    <div class="row ">
                        <div class="col-xs-12">
                            <img class="img-responsive" src="/profiles/dss_magdalena/modules/dss_magdalena/dss_page_pesca/js/img/MIS-HERRAMIENTAS.jpg" alt="img_mis_colegas"></img>
                        </div>
                        <div class="col-xs-12 rtecenter">
                            Accede y consulta la información relacionada con el equipo utilizado durante las faenas de pesca tales como motores, embarcaciones y artes.
                        </div>
                        <div class="linea-d">
                            <div class="circulo-d"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card-item btn7">
                    <h2>Mis ventas</h2>

                    <div class="row ">
                        <div class="col-xs-12">
                            <img class="img-responsive" src="/profiles/dss_magdalena/modules/dss_magdalena/dss_page_pesca/js/img/MIS-VENTAS.jpg" alt="img_mis_colegas"></img>
                        </div>
                        <div class="col-xs-12 rtecenter">
                            Registro detallado del comercio y consumo asociado a las actividades de pesca.
                        </div>
                        <div class="linea-d">
                            <div class="circulo-d"></div>
                        </div>
                    </div>


                </div>
            </li>

            <!--

     <li>
       <div  class="card-item btn8">
         <h2>Mis denuncias</h2>

         <div class="row ">
         <div class="col-xs-12">
           <img class="img-responsive" src="/profiles/dss_magdalena/modules/dss_magdalena/dss_page_pesca/js/img/denuncias.jpg" alt="img_mis_colegas" ></img>
         </div>
         <div class="col-xs-12 rtecenter">
          Permite llevar un control de los recorridos de pesca del usuario. Esta herramienta permite al usuario ingresar datos de pesca tales como especie, peso, duración y recorrido de la faena.
         </div>
         <div class="linea-d">
            <div class="circulo-d"></div>
        </div>
         </div>


         
         

       </div>
     </li>      
    -->
        </ul>

    </div>


    <div class="info_addi row" style="clear: both;">
        <div class="col-md-3 adi-item">
            <div class="ia-icon">
                <i class="fas fa-fish"></i>
            </div>
            <h4><strong>Sencilla</strong></h4>
            Una aplicacion facil de usar que puedes llevar a todos lados
        </div>
        <div class="col-md-3 adi-item">
            <div class="ia-icon">
                <i class="fas fa-ship"></i>
            </div>
            <h4><strong>Sin red</strong></h4>
            Podrás acceder información sobre tus faenas sin requerir conexion a internet
        </div>
        <div class="col-md-3 adi-item">
            <div class="ia-icon">
                <i class="fas fa-laugh-squint"></i>
            </div>
            <h4><strong>Util</strong></h4>
            Mantén el control y balance de tus capturas y ventas.
        </div>
        <div class="col-md-3 adi-item">
            <div class="ia-icon">
                <i class="fa fa-gift"></i>
            </div>
            <h4><strong>Gratis</strong></h4>
            Esta aplicacion es totalmente gratuita, descargala ahora.
        </div>

    </div>



    <div class=" row descarga" style="padding-top:50px;   clear: both;">
        <div class="col-xs-12 col-md-3 col-md-offset-3">
            <a class="btn-descarga2 btn-android btn btn-lg pull-right" href="https://play.google.com/store/apps/details?id=com.simamagdalena.mipez&hl=es">
                <img src="/profiles/dss_magdalena/modules/dss_magdalena/dss_page_pesca/js/img/android-logo.png">
            </a>
        </div>
        <div class="col-xs-12 col-md-3 ">
            <a class="btn-descarga2 btn-ios btn btn-lg pull-left" href="#">
                <img src="/profiles/dss_magdalena/modules/dss_magdalena/dss_page_pesca/js/img/apple.png">
            </a>
        </div>
        <!--


        <div class=" row descarga">


            <div class="col-md-6">
                <a class="btn-descarga btn btn-lg pull-right " href="/app/dashboard"><img src="/profiles/dss_magdalena/modules/dss_magdalena/dss_page_pesca/js/img/home.png"><br>ver estadisticas</a>
            </div>
            <div class="col-md-6">
                <a class="btn-descarga btn btn-lg pull-left" href="http://www.google.com"><img src="/profiles/dss_magdalena/modules/dss_magdalena/dss_page_pesca/js/img/mapa_pesca.png"><br>Visor Geografico MiPez</a>
            </div>

        </div>
        -->
