/**
 * Your custom CSS.
 */
#sima {
  margin: 0 auto;
  text-align: center;
}

#container {
  width: 100%;
}

.chart_row {
  height: 70px;
  width: 100%;
  margin-bottom: 5px;
}

.chart_row:last-child {
  margin-bottom: 0px;
}

.ind_label {
  width: 100px;
  height: 70px;
  font-size: 18px;
  font-weight: bold;
}

.chart_data {
  height: 70px;
}

.chart_ul {
  padding: 0;
  margin: 0;
}

.chart_li {
  margin-right: 1px;
  position: relative;
}

.chart_li .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.chart_li .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.chart_li:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.inline {
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}
