/**
 * Your custom CSS.
 */
#sima {
  text-align: center;
}

#split1_chart {
  width: 45%;
  float: left;
}

#split2_chart {
  width: 45%;
  float: right;
}

#clear {
  clear: both;
}

.c3-legend-item {
  font-size: 14px;
}

#pie_table {
  margin-top: 50px;
}

#pie_table tfoot {
  font-weight: bold;
}
