<div class="row clearfix">
        <div class="panel1 col-md-12 column">
            <div class="jmb jumbotron card_title">
                <div class="row">
                    <div class="col-md-9">
                    <h1 class="jumbotron_title">
                            Casos de estudio
                    </h1>
                    <p>
                        Es un paquete de información que caracteriza un Plan Integrado y las Variables que condicionan su desempeño. Es un futuro posible para explorar a partir de escenarios, alternativas de desarrollo e información de línea base.                    </p>
                    <p>
                            <a class="btn btn-primary btn-large btn-sima" href="/node/add/case-study#popup1">Crear casos de estudio</a>
                            <a class="btn btn-primary btn-large btn-sima" href="/case-study">Listar casos de estudio</a>
                    </p>
                    </div>
                    <div class="col-md-3">
                        <a href="/help/dss_help/case-study">
                        <img alt="Casos de estudio" class="pull-right " src="/profiles/dss_magdalena/modules/dss_magdalena/dss_interface/images/Imagenes_adm/01-caso-estudio-1.png" />
                        </a>
                    </div>
            

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="thumbnail">

                        <div class="caption">
                            <h3>
                                Escenario
                            </h3>

                            <p>
                                <a class="btn btn-primary btn-large btn-sima" href="/node/add/scenario"">Crear </a>
                                <a class="btn btn-primary btn-large btn-sima" href="/scenario-list">Listar </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                        <div class="thumbnail">


                            <div class="caption">
                                <h3>
                                    Alternativas de plan integral
                                </h3>
                                <p>
                                    <a class="btn btn-primary btn-large btn-sima" href="/node/add/integral-plan ">Crear</a>
                                    <a class="btn btn-primary btn-large btn-sima" href="/integral-plan-list">Listar</a>
                                </p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="row clearfix pad-top">
            <div class="panel1 col-md-12 column">
                <div class="jmb jumbotron card_title">
                    <div class="row">
                            <div class="col-md-9">
                            <h1 class="jumbotron_title">
                                    Modulo Exploratorio
                            </h1>
                            <p>
                                    El módulo exploratorio TIER1 es una herramienta para la construcción prospectiva de escenarios de expansión del sector hidroeléctrico, comparando los beneficios e impactos acumulativos.                            </p>
        
                            <p>
                                    <a class="btn btn-primary btn-large btn-sima" href="/tier1_wizard">Crear ejecución</a>
                                    <a class="btn btn-primary btn-large btn-sima" href="/execution-list">Listar ejecuciones</a>
                                    <a class="btn btn-primary btn-large btn-sima" href="/juego">Módulo de juego</a>
                            </p>
                            </div>
                            <div class="col-md-3">

                                    <img alt="Modulo Exploratorio" class="pull-right" src="/profiles/dss_magdalena/modules/dss_magdalena/dss_interface/images/Imagenes_adm/04-modulo-exploratorio-1.png" />

                            </div>
                        </div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                            <div class="thumbnail">

                                <div class="caption">
                                    <h3>
                                        Narrativas
                                    </h3>
                                    <p>
                                        <a class="btn btn-primary btn-large btn-sima" href="/node/add/narrative">Crear </a>
                                        <a class="btn btn-primary btn-large btn-sima" href="/lista-de-narrativas-tier1">Listar </a>
                                    </p>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-4">
                            <div class="thumbnail">

                        <div class="caption">
                                    <h3>
                                        Catálogo de  Proyectos
                                    </h3>
                                    <p>
                                        <a class="btn btn-primary btn-large btn-sima" href="/node/add/project-catalog">Crear </a>
                                        <a class="btn btn-primary btn-large btn-sima" href="/catalog_project_list_TIER1">Listar </a>
                                    </p>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-4">
                            <div class="thumbnail">
       <div class="caption">
                                    <h3>
                                        Proyectos
                                    </h3>
                                    <p>
                                        <a class="btn btn-primary btn-large btn-sima" href="/node/add/tier1-project">Crear </a>
                                        <a class="btn btn-primary btn-large btn-sima" href="/lista-de-proyectos-tier1">Listar </a>
                                        <a class="btn btn-primary btn-large btn-sima" href="/import/proyectos_hidroel_ctricos_tier1">Carga masiva</a>
                                    </p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>