/**
 * Your custom CSS.
 */


#sima {
  margin: 0px auto;
  text-align: center;
}

select {
  border-radius: 3px;
  overflow: hidden;
  padding: 5px 8px;
  width: 50%;
  border: none;
  box-shadow: none;
  background: lightgrey;
  -webkit-appearance: none;
  text-align: center;
}

svg {
  background-color: lightgreen;
  margin-bottom: 30px;
}

text.gray {
  fill: darkgrey;
  font-size: 14px;
  font-weight: bold;
  text-align:center;
  margin:0;
  text-shadow: white 0em 0em 0em
}

text.blue {
  fill: blue;
  font-size: 14px;
  font-weight: bold;
  text-align:center;
  margin:0;
  text-shadow: white 0.1em 0.1em 0em
}

text.orange {
  fill: chocolate;
  font-size: 14px;
  font-weight: bold;
  text-align:center;
  margin:0;
  text-shadow: white 0.1em 0.1em 0em
}

text.brown {
  fill: brown;
  font-size: 14px;
  font-weight: bold;
  text-align:center;
  margin:0;
  text-shadow: white 0.1em 0.1em 0.2em
}

text.lightgray {
  fill: lightslategray;
  font-size: 12px;
  font-weight: bold;
  text-align:center;
  margin:0;
  text-shadow: white 0em 0em 0em
}

text.red {
  fill: red;
  font-size: 14px;
  font-weight: bold;
  text-align:center;
  margin:0;
  text-shadow: white 0.1em 0.1em 0.2em
}

line.soft {
  stroke: #505050;
  stroke-width: 1.5px;
  stroke-dasharray: 2.5;
}

line.hard {
  stroke: black;
  stroke-width: 1.5px;
}

#description-graph {
  padding-top:30px ;
  text-align: justify;
}

#hover-btn{
  background-color: #ffffff;
  width: 7em;
  height:auto;
  cursor: grab;
  z-index: 100;
  position: fixed;
  right: 30px;
  bottom: 50%;
  padding: 10px;
  border-radius: 30px;
}

#img-model-graph{
  display: block;
  width: auto;
  height: auto;
  margin: auto;
}


* {box-sizing: border-box;}

.img-magnifier-glass {
  position: absolute;
  border: 1px solid #000;
  border-radius: 0;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 200px;
  height: 200px;
}


.img-c{
  position:relative!important;
}

@media screen and (max-width:600px){
  #hover-btn{
    display: none;
  }
  .img-magnifier-glass{
    display: none;
  }

}