/**
 * Your custom CSS.
 */
#sima {
  width: 100%;
  height: 500px;
  text-align: center;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 2.5px;
}

#licensing {
  fill: green;
}

.link.licensing {
  stroke: green;
}

.link.resolved {
  stroke-dasharray: 0,2 1;
}

.link.other {
  stroke-dasharray: 0,2 1;
}

circle {
  stroke: #333;
  stroke-width: 1.5px;
}

circle.red {
  fill: red;
}

circle.gray {
  fill: gray;
}

circle.olive {
  fill: olive
}

circle.blue {
  fill: blue;
}

text {
  font: 16px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.legend_control {
  display: inline;
  margin-right: 5px;
}
