#popup1 {
  visibility: hidden;
  opacity: 0;
  margin-top: -300px;
  position: absolute;
}
* #popup1:target {
  visibility:visible;
  opacity: 1;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:0;
  z-index: 999;
  transition:all 1s;
}
* .popup1-contenedor {
  position: relative;
  margin:3% auto;
  padding:2% 2.6%;
  background-color: #fafafa;
  color:#333;
  border-radius: 3px;
  width: 95%;
  height: 90%;
}

.popup1-contenedor{
      overflow: scroll;
}
.titulos h1{
  text-align: center;
  width: 100%;
  font-size: 3vw;
  vertical-align: top;
}
a.popup1-cerrar {
  position: absolute;
  top:3px;
  right:3px;
  background-color: #333;
  padding:7px 10px;
  font-size: 20px;
  text-decoration: none;
  line-height: 1;
  color:#fff;
}
.pantallaDividia{
  display: flex;
  text-align: center;
}
.izquierda{
  text-align: justify;
  width: 50%;
  padding: 3% 8% 10% 8%;
  font-size: 0.9vw;
  border-right: 3px dashed #104659;
  height: 30vw;
  line-height : 1.5vw;
}
.izquierda img{
  vertical-align: top;
  width: 17%;
}
.textoImg{
  width: 70%;
  display: inline-block;
  margin-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.derecha{
  text-align: center;
  width: 50%;
  font-size: 0.9vw;
  padding: 3% 5% 10% 5%;
}
.derecha p{
  border: 2px solid #FFFFFF;
  border-radius: 15px;
  padding:2%;
  -webkit-box-shadow: -26px 21px 40px -23px rgba(0,0,0,0.75);
  -moz-box-shadow: -26px 21px 40px -23px rgba(0,0,0,0.75);
  box-shadow: -26px 21px 40px -23px rgba(0,0,0,0.75);
}
.derecha img{
  max-width: 37vw;
  max-height: 40vw;
  padding-bottom: 1vw;
}
/*.popup1-link a{
  background-image: url(/profiles/dss_magdalena/modules/dss_magdalena/dss_interface/images/elementos_index/03-boton.png);
  background-repeat: no-repeat;
  background-size: 120%;
  padding: 3.8% 1% 0% 2%;
  color: rgb(17, 87, 104);
  display:scroll;
  position:fixed;
  bottom:40%;
  right:2%;
  border-radius: 100%;
  font-weight:bold;
}
.popup1-link a:hover {
  text-decoration:none;
  color: rgb(79, 182, 241);
}
*/
#popup {
  visibility: hidden;
  opacity: 0;
  margin-top: -300px;
  position: absolute;
}
* #popup:target {
  visibility:visible;
  opacity: 1;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:0;
  z-index: 999;
  transition:all 1s;
}
* .popup-contenedor h1 {
  font-size: 2vw;
  padding-bottom: 3vw;
  width: 100%;
}
.popup-contenedor {
  background-image: url(/profiles/dss_magdalena/modules/dss_magdalena/dss_interface/images/03-FONDOS/01-fondo.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  width: 100%;
  position: relative;
  margin:7% auto;
  padding:6vw 50px;
  color:#333;
  border-radius: 3px;
  width: 80%;
  height: 75%;
  text-align: center;
  box-shadow: inset 0 0 10px 5px #000000;
}
a.popup-cerrar {
  position: absolute;
  top:3px;
  right:3px;
  background-color: #333;
  padding:7px 10px;
  font-size: 20px;
  text-decoration: none;
  line-height: 1;
  color:#fff;
}
.popup-contenedor h1{
  text-align: center;
}
.popup-link a{
  background-image: url(/profiles/dss_magdalena/modules/dss_magdalena/dss_interface/images/elementos_index/progreso.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 4.8% 1% 2% 1%;
  color: rgb(17, 87, 104);
  display:scroll;
  position:fixed;
  bottom:40%;
  right:2%;
  font-weight:bold;
}
@media screen and (max-width:1126px) {
  .popup-link a{
      display: none;
 }
  #popup{
      display: none;
 }
}

@media screen and (max-width:1370px){
  .popup-link a{
    padding: 3.8% 0% 1% 0%;
    bottom: 20%;
  }
}

.popup-link a:hover {
  background-image: url(/profiles/dss_magdalena/modules/dss_magdalena/dss_interface/images/elementos_index/progreso1.png);
  text-decoration:none;
  color: rgb(79, 182, 241);
}
.multiform h4{
  border: 1px solid #0D333D;
  text-align: center;
  display: inline-block;
  margin-left: 15%;
  border-radius: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding: 2% 1% 2% 1%;
  background: #DFF1F2;
  width: 7%;
  color: #0D333D;
}
.multiform{
  display: inline;
}
.barra_progreso {
  width: 100%;
 /* Full width */
  background-color: #1d7492;
 /* Grey background */
  color: #FFFFFF;
  font-size: 0.80em;
}
.progreso {
  text-align: right;
 /* Right-align text */
  padding-top: 10px;
 /* Add top padding */
  padding-bottom: 10px;
 /* Add bottom padding */
  color: white;
 /* White text color */
}
.multipage-controls-list #edit-actions {
  float: left;
 /* LTR */
}
.multipage-button {
  margin-bottom: 1em;
  margin-top: 0;
  float: left;
 /* LTR */
  line-height: 36px;
}
.multipage-button a {
  padding-top: 10px;
}
.multipage-counter {
  float: right;
 /* LTR */
  margin-right: 5px;
 /* LTR */
  height: 0;
  position: relative;
  top: 1.8em;
  line-height: 30px;
  font: 12px arial,sans-serif;
  font-weight: bold;
  color:#666;
}
a.multipage-link-previous {
  font: 12px arial,sans-serif;
  font-weight: bold;
  color:#666;
  -webkit-transition: color 218ms;
  -moz-transition: color 218ms;
  -o-transition: color 218ms;
  transition: color 218ms;
}
a.multipage-link-previous:hover {
  text-decoration:none;
  color: #333;
}
.multipage-controls-list input.form-submit {
  background:none;
  border: none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font: 12px arial,sans-serif;
  font-weight: bold;
  color: #666;
  text-shadow: 0 1px 0 white;
  padding: 7px 12px;
  background: -webkit-gradient(linear,0% 40%,0% 70%,from(whiteSmoke),to(#F1F1F1));
  -o-transition: border-top-color 0.218s,border-right-color 0.218s,border-bottom-color 0.218s,border-left-color .218s;
  -webkit-transition: border-color .218s;
}
.multipage-controls-list input.form-submit:hover {
  color:#333;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-color: #939393;
}
.multipage-controls-list input.form-submit:active {
  background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F1F1F1),to(whiteSmoke));
}
.multipage-controls-list input#edit-submit {
  background: #4D90FE;
 /* for non-css3 browsers */
  background-image: #4D90FE;
 /* for non-css3 browsers */
  background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D90FE', endColorstr='#4787ED');
 /* for IE */
  background: -webkit-gradient(linear, center top, center bottom, from(#4D90FE), to(#4787ED));
 /* for webkit browsers */
  background: -moz-linear-gradient(center top, #4D90FE, #4787ED);
 /* for firefox 3.6+ */
  color: white;
  text-shadow: none;
  text-transform: uppercase;
  min-width: 79px;
}
.multipage-controls-list input#edit-submit:hover {
  background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
  color: white;
  text-shadow: none;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.multipage-controls-list input#edit-submit:active {
  background: #4D90FE;
  border-color: #2F5BB7;
}
.multipage-controls-list input#edit-delete {
  background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
  background-image: -o-linear-gradient(top,#dd4b39,#d14836);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#d14836));
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  color: white;
  text-shadow: none;
}
.multipage-controls-list input#edit-delete:hover {
  background-image: -moz-linear-gradient(top,#dd4b39,#c53727);
  background-image: -o-linear-gradient(top,#dd4b39,#c53727);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#c53727));
  border: 1px solid #B0281A!important;
  border-bottom: 1px solid #AF301F!important;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  color: white;
}
.multipage-controls-list input#edit-delete:active {
  background-image: -moz-linear-gradient(top,#dd4b39,#b0281a);
  background-image: -o-linear-gradient(top,#dd4b39,#b0281a);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#b0281a));
  border: 1px solid #992A1b!important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.form-submit.btn.btn-default.ajax-processed{
  margin-left: 3%;
}
.container-inline.form-inline.form-wrapper{
  text-align: center;
}
.form-wrapper.panel.panel-default{
  border: 2px solid #1d7492;
}
.multipage-button{
  width: 30%;
}
.form-submit.multipage-link-previous{
  margin-right: 3%;
  display: inline-block;
}
.panel-title.fieldset-legend{
  font-size: 0.75em;
}
.form-wrapper.panel.panel-default legend{
  background-color: #1d7492;
  color: #FFFFFF;
}
.form-item.form-type-radios.form-item-field-scenario-und-form-status.form-group{
  display: none;
}
.form-item.form-type-radios.form-item-field-integral-plan-und-form-status.form-group{
  display: none;
}
/*.cancelarCE a{
  text-decoration: none;
  border: 1px solid #0A77BD;
  padding: 0.5em;
  border-radius: 5%;
  background: #0A77BD;
  color: #FFFFFF;
}
*/
#edit-field-scenario-und-form-entity-id:focus{
  background-image: none;
}
#edit-field-scenario-und-form-entity-id{
  background-image: url(/profiles/dss_magdalena/modules/dss_magdalena/dss_interface/images/Escenario.png);
  background-repeat: no-repeat;
  background-position: right;
}
#edit-field-integral-plan-und-form-entity-id:focus{
  background-image: none;
}
#edit-field-integral-plan-und-form-entity-id{
  background-image: url(/profiles/dss_magdalena/modules/dss_magdalena/dss_interface/images/Plan_integral.png);
  background-repeat: no-repeat;
  background-position: right;
}
#edit-field-scenario-und-entities-0-actions-ief-entity-edit{
  display: none;
}
#edit-field-integral-plan-und-entities-0-actions-ief-entity-edit{
  display: none;
}
/*arbol*/
.tree{
  width: 100%;
  text-align: center;
  margin-left: 5vw;
}
@media screen and (max-width:1510px){
  .tree {
      margin-left: 1vw;
 }
}
.tree ul {
  padding-top: 20px;
  position: relative;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.tree li {
  float: left;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
  margin: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.tree li::before, .tree li::after{
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 2px solid rgb(165, 165, 165);
  width: 50%;
  height: 20px;
}
.tree li::after{
  right: auto;
  left: 50%;
  border-left: 2px solid rgb(165, 165, 165);
}
.tree li:only-child::after, .tree li:only-child::before {
  display: none;
}
.tree li:only-child{
  padding-top: 0;
}
.tree li:first-child::before, .tree li:last-child::after{
  border: 0 none;
}
.tree li:last-child::before{
  border-right: 2px solid rgb(165, 165, 165);
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}
.tree ul ul::before{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 2px solid rgb(165, 165, 165);
  width: 0;
  height: 20px;
}
.tree li div p{
  margin-top: 0.5vw;
  margin-bottom: 2vw;
  height: 100%;
  font-weight: bold;
}
.tree li div{
  border: 2px solid #FAFAFA;
  padding: 5px 10px;
  text-decoration: none;
  background: #FFFFFF;
  color: #0D333D;
  font-family: arial, verdana, tahoma;
  font-size: 0.85vw;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  border-radius: 12px;
  height: 4vw;
  width: 8vw;
  -webkit-box-shadow: -10px 14px 21px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: -10px 14px 21px -8px rgba(0,0,0,0.75);
  box-shadow: -10px 14px 21px -8px rgba(0,0,0,0.75);
}
/*.tree li div:hover, .tree li div:hover+ul li div {
  background: #c8e4f8;
  color: #000;
  border: 1px solid #94a0b4;
}
.tree li div:hover+ul li::after, .tree li div:hover+ul li::before, .tree li div:hover+ul::before, .tree li div:hover+ul ul::before{
  border-color: #94a0b4;
}
*/
.ver_listado{
  margin-top: 10px;
  margin-bottom: 10px;
  
}
#block-dkan-sitewide-dkan-sitewide-search-bar{
  display:none!important;
}
.opciones-adm-sima{
  padding:0rem 0;
}
.elemento-adm-sima {
  text-align:center;
  padding:5rem 0;
}
@media only screen and (max-width: 1499px) {
  .ejemplo-1 img {
      transition: all 0.2s linear;
      min-width: 220px;
      height: 260px;
 }
}
.herramientas_app p{
  margin:0 10% 0;
  text-align:justify;
}
.herramientas_app img{
  padding:0 25% 0;
}
.btn-adm{
  color:#ffffff;
  background-color:rgb(29, 116, 146);
}
.btn-descarga{
  margin-top: 10px;
  background-color:rgb(29, 116, 146);
  width:100%;
}
.btn-descarga img{
  height:3em;
}
.barra_busqueda{
  padding: 20px 0 20px 0;
}
.tabla *{
  text-align:center;
}
.tabla> .table > thead > tr > th {
  padding:0px !important;
  vertical-align: top !important;
}
.btn-sima2{
  background-color: rgba(61, 103, 118, 0.6) !important;
  padding: 10%;
  margin-top: 10px;
}
.btn-sima2:hover{
  background-color: rgba(61, 103, 118, 1) !important;
}
.tabla thead,.tabla td,.tabla tr ,.tabla tr td ,.tabla th,.tabla > thead > tr > th{
  border-style:solid !important;
  border-color: white !important;
  border-width: 1em !important;
}
.tabla tbody tr:hover td{
  background:#30798C;
}
.tabla > thead > tr > th{
  padding: 10px !important;
}
.tabla{
  text-align: center;
  padding-left: 15vw;
  padding-right: 15vw;
}
.tabla td img{
 /*width: auto;
 */
  height: 10%;
  padding: 30%;
}
.tabla th img{
  width: 99%;
  height: 15vw;
  max-height: 10em;
}
.tabla tbody{
  background-color:#DFF1F3;
}
.table thead{
  background-color: #fff;
  width: 30%;
  height: 70%;
}
.tabla td:first-child{
  width: 10em;
  background-color: #30798C;
  color:#fff;
  height:10em;
  vertical-align:middle;
  text-align:left;
}
.rol{
  background-color: #f3f3f3;
}
.rol_blanco{
  background-color: #fff;
}
.radix-layouts-sidebar{
  display:none;
}
.img_celular{
  transform 1.2s;
}
.img_celular:hover {
  transform: scale(1.2);
 /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.contactenos {
  padding-top: 1%;
}
.titulo_app{
  padding-top: 1%;
}
.btn_p_frecuentes{
  background-color: rgba(61, 103, 118, 0.6);
  border: none;
  color: #FFFFFF;
  text-align: center;
  margin: 3%;
 /* height: 5em;
 */
  vertical-align: middle;
  width:70vw;
  font-size:2em;
  width: 20%;
}
.btn_p_frecuentes a:visited{
  color:#ffffff;
}
.preguntas_frecuentes{
 /* Location of the image */
  background-image: url(/profiles/dss_magdalena/modules/dss_magdalena/dss_interface/images/elementos_index/18-imagen_banner.jpg);
 /* Background image is centered vertically and horizontally at all times */
 /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
 /* Background image doesn't tile */
  background-repeat: no-repeat;
 /* Background image is fixed in the viewport so that it doesn't move when the content's height is greater than the image's height */
 /* background-attachment: fixed;
 */
 /* This is what makes the background image rescale based on the container's size*/
  background-size: cover;
 /* Set a background color that will be displayed while the background image is loading */
  background-color: #464646;
  text-align:center;
  height:10em;
}
.elementos_app{
  margin:0 15%;
  padding:1em;
}
.contactenos{
  min-height:13em;
  max-height:13em;
 /* Location of the image */
  background-image: url(/profiles/dss_magdalena/modules/dss_magdalena/dss_interface/images/elementos_index/23-imagen.jpg);
 /* Background image is centered vertically and horizontally at all times */
 /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
 /* Background image doesn't tile */
  background-repeat: no-repeat;
 /* Background image is fixed in the viewport so that it doesn't move when the content's height is greater than the image's height */
 /* background-attachment: fixed;
 */
 /* This is what makes the background image rescale based on the container's size*/
  background-size: cover;
 /* Set a background color that will be displayed while the background image is loading */
  background-color: #464646;
  color:#ffffff;
}
.frases{
 /* min-height:13em;
  max-height:13em;
  */
 /* Location of the image */
  background-image: url(/profiles/dss_magdalena/modules/dss_magdalena/dss_interface/images/elementos_index/17-imagen_banner.jpg);
 /* Background image is centered vertically and horizontally at all times */
 /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
 /* Background image doesn't tile */
  background-repeat: no-repeat;
 /* Background image is fixed in the viewport so that it doesn't move when the content's height is greater than the image's height */
 /* background-attachment: fixed;
 */
 /* This is what makes the background image rescale based on the container's size*/
  background-size: cover;
 /* Set a background color that will be displayed while the background image is loading */
  background-color: #464646;
  color:#ffffff;
}
.app_movil{
 /* Location of the image */
  background-image: url(/profiles/dss_magdalena/modules/dss_magdalena/dss_interface/images/elementos_index/24-imagen.jpg);
 /* Background image is centered vertically and horizontally at all times */
 /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
 /* Background image doesn't tile */
 /* This is what makes the background image rescale based on the container's size*/
  background-size: cover;
 /* Set a background color that will be displayed while the background image is loading */
  background-color: #464646;
}
.frases{
 /* Location of the image */
  background-image: url(/profiles/dss_magdalena/modules/dss_magdalena/dss_interface/images/elementos_index/17-imagen_banner.jpg);
 /* Background image is centered vertically and horizontally at all times */
 /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
 /* Background image doesn't tile */
  background-repeat: no-repeat;
 /* Background image is fixed in the viewport so that it doesn't move when the content's height is greater than the image's height */
 /* background-attachment: fixed;
 */
 /* This is what makes the background image rescale based on the container's size*/
  background-size: cover;
 /* Set a background color that will be displayed while the background image is loading */
  background-color: #464646;
  color:#ffffff;
}
.frases .view-content{
 /* padding: 3% 10% 3% 10%;
 */
}
.titulo_servicios_rol{
  text-align: center;
  padding-top: 1%;
}
h1{
  color:#105659;
  font:'open sans';
}
h2{
  color:#105659;
  font:'open sans';
}
h3{
  color:#105659;
  font:'open sans';
}
.main .panel-pane {
  margin-bottom: 0em;
}
.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom{
  z-index:0;
}
.contenedor-img-capa{
 /*width: 300px;
  height: 200px;
  float: left;
  */
  overflow: hidden;
 /*position: relative;
 */
  text-align: center;
  cursor: default;
  background: #fff;
  margin: 0 20% 0;
  min-width: 300px;
}
.contenedor-img-capa img{
  width:100%;
}
.contenedor-img-capa p{
  padding: 0 10% 0;
}
.lista_capas{
  text-align:center;
  padding-top:0em;
  padding-bottom:1em;
}
.titulo_capas{
  text-align: center;
  padding-top: 1%;
}
.capas_sima {
 /* Location of the image */
  background-image: url(/profiles/dss_magdalena/modules/dss_magdalena/dss_interface/images/elementos_index/05-pescador.jpg);
 /* Background image is centered vertically and horizontally at all times */
 /* Background image is centered vertically and horizontally at all times */
 /*background-position: center center;
 */
 /* Background image doesn't tile */
  background-repeat: no-repeat;
 /* Background image is fixed in the viewport so that it doesn't move when the content's height is greater than the image's height */
 /* background-attachment: fixed;
 */
 /* This is what makes the background image rescale based on the container's size */
  background-size: cover;
 /* Set a background color that will be displayed while the background image is loading */
  background-color: #464646;
}
#block-dss-interface-sima-games{
  background-color:#fff;
  margin:0 5% 0;
  padding-bottom:1.5em;
}
#block-dss-interface-sima-games h2{
  text-align:center;
  text-transform:uppercase;
}
#bienvenidosima {
  background: #436d81;
 /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,#436d81, #E4E5E6 );
 /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #436d81,#E4E5E6 );
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url(/profiles/dss_magdalena/modules/dss_magdalena/dss_interface/images/elementos_index/28-Bienvenidos.jpg);
 /* Location of the image 
 /* 
 /* Background image is centered vertically and horizontally at all times */
 /*background-position: center center;
 */
 /* Background image doesn't tile */
  background-repeat: no-repeat;
 /* Background image is fixed in the viewport so that it doesn't move when the content's height is greater than the image's height */
 /* background-attachment: fixed;
 */
 /* This is what makes the background image rescale based on the container's size */
  background-size: cover;
 /* Set a background color that will be displayed while the background image is loading background-color: #464646;
 */
}
#titulo_bienvenida{
  padding-top: 9%;
  text-align: center;
  height:0.5em;
}
#desc_Bienvenidos{
  padding-top: 4.5em;
  padding-left: 20%;
  padding-right: 20%;
}
#cuadros{
  padding-left: 5%;
  padding-right: 5%;
}
#cuadro1{
  text-align:center;
}
#cuadro1 img{
  width:100%;
  height:60%;
 /*padding-bottom: 3em;
 */
}
#cuadro1 *{
  -webkit-transition: transform 2s ease;
  -moz-transition: transform 2s ease;
  -ms-transition: transform 2s ease;
  -o-transition: transform 2s ease;
  transition: transform 2s ease;
  margin-bottom: 1em;
}
.partes_sima{
  position: relative;
  display: inline-block;
  text-align: center;
  background-color: rgba(61, 103, 118, 0.6);
  margin-bottom: 3em;
}
.centrado{
  position: absolute;
  top: 60%;
  color:#fff;
  font-size:1em;
  text-align:justify;
  margin:0 10% 0;
}
#modelos_en_sima {
 /* Location of the image */
  background-image: url(http://test.sima-magdalena.co/profiles/dss_magdalena/modules/dss_magdalena/dss_interface/images/elementos_index/09-mapa.jpg);
 /* Background image is centered vertically and horizontally at all times */
 /*background-position: center center;
 */
 /* Background image doesn't tile */
  background-repeat: no-repeat;
 /* Background image is fixed in the viewport so that it doesn't move when the content's height is greater than the image's height */
 /* background-attachment: fixed;
 */
 /* This is what makes the background image rescale based on the container's size */
  background-size: cover;
 /* Set a background color that will be displayed while the background image is loading */
  background-color: #464646;
}
#titulo_modelos{
  text-align: center;
  padding-top:1%;
}
.modelo{
  text-align:center;
  background-color:#f0f0f0;
  padding: 1em 0em 1em;
}
.lista_modelos {
 /*padding-left: 15vw;
  padding-right: 10vw;
 */
  padding-top: 1em;
}
.lista_modelos:nth-child(2){
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 1em;
}
@media only screen and (max-width: 480px) {
  .lista_modelos{
      padding: 0 5% 0 !important;
 }
}
@media only screen and (max-width: 760px) {
  .contenedor-img-capa {
      margin:0px 0% 0px auto !important 
 }
  #modelos_en_sima {
     /* Location of the image */
      background-image: url(/profiles/dss_magdalena/modules/dss_magdalena/dss_interface/images/elementos_index/09-mapa.jpg);
     /* Background image is centered vertically and horizontally at all times */
     /*background-position: center center;
     */
     /* Background image doesn't tile */
      background-repeat: round;
     /* Background image is fixed in the viewport so that it doesn't move when the content's height is greater than the image's height */
     /* background-attachment: fixed;
     */
     /* This is what makes the background image rescale based on the container's size */
      background-size: cover;
     /* Set a background color that will be displayed while the background image is loading */
      background-color: #464646;
 }
}
.partes_sima:hover img{
  transform: translateX( -1px ) rotateY( 180deg );
 /* ALSO EXTRA TRANSFORM PROPERTIES ADDED FOR COMPATIBILITY*/
  -ms-transform: translateX( -1px ) rotateY(180deg);
 /* IE 9 */
  -webkit-transform: translateX( -1px ) rotateY(180deg);
 /* Chrome, Safari, Opera */
}
/* efecto de flash .partes_sima:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
      opacity: .4;
 }
  100% {
      opacity: 1;
 }
}
@keyframes flash {
  0% {
      opacity: .4;
 }
  100% {
      opacity: 1;
 }
}
*/
/* Efectos modelos */
/*Estilos Base*/
.contenedor-img {
 /*width: 300px;
  height: 200px;
 */
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #fff;
}
.contenedor-img .mascara,.contenedor-img .contenido {
 /*width: 300px;
 */
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0 
}
.contenedor-img img {
  display: block;
  position: relative;
}
.contenedor-img h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.9);
  margin: 20px 0 0 0 
}
.contenedor-img p {
  position: relative;
  color: #fff;
  padding: 0px 0px 0px;
  text-align: center 
}
.contenedor-img a.link {
  display: inline-block;
  text-decoration: none;
  padding: 0px 20px;
  background: #222;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000 
}
.contenedor-img a.link:hover {
  box-shadow: 0 0 5px #000 
}
/*Ejemplo 1*/
.ejemplo-1 img {
  transition: all 0.2s linear;
  linear;
  min-width: 200px;
}
.ejemplo-1 .mascara {
  opacity: 0;
  background-color: rgba(182, 216, 224, 0.8);
  transition: all 0.3s ease-in-out;
}
.ejemplo-1 h2 {
  transform: translateX(-200px);
 /*Desplazamos a la izquierda*/
  opacity: 0;
  transition: all 0.7s ease-in-out;
}
.ejemplo-1 p {
  margin:20px;
  color:#FFFFFF;
  transform: translateX(200px);
 /*Desplazamos a la derecha*/
  opacity: 0;
  transition: all 0.4s linear;
}
.ejemplo-1 a.link{
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transform: translateY(100px)
 /*Desplazamos para abajo*/
}
.ejemplo-1:hover img {
  transform: scale(1.2);
 /*Damos un ligero zoom a la imagen*/
}
.ejemplo-1:hover .mascara {
  opacity: 0.9;
  background-color: #104659;
}
.ejemplo-1:hover h2, .ejemplo-1:hover p, .ejemplo-1:hover a.link {
  opacity: 1;
  transform: translateX(0px);
 /*Regresamos a las posiciones originales*/
}
.ejemplo-1:hover p {
  transition-delay: 0.1s;
}
.ejemplo-1:hover a.link {
  transition-delay: 0.2s;
 /*Aplicamos un pequeño retardo para que se muestre al final*/
  transform: translateY(0px);
}

.btn_p_frecuentes.btn-sima.btn.btn-lg.btn-primary{
  height: 50px;
  font-size: 25px;
  width: 20vw;
}
.btn-sima.btn.btn-lg.btn-primary{
  height: 50px;
  font-size: 25px;
  width: 20vw;
}
.field-content{
  height: 100px;
  width: 99vw !important;
  margin-top: 3em;
  font-size: 23px;
}
