/**
 * Your custom CSS.
 */

#sima {
  height: 400px;
  width: 100%;
}

#cpicker {
  display: none;
}

.c3_line_curve_title {
  height: 26px;
  font-size: 20px;
}

.legend {
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.cpicker {
  text-align: right;
}

.textGUISet {
  width: 4em;
}

.textLabelGUISet {
  width: 10em;
}

.legendButton {
  height: 18px;
  vertical-align: middle;
  line-height: 12px;
}

.tableLegend {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.eloha_map {
  z-index: 2;
}

