.search-result .data-and-resources h4 {
  font-size: 20px;
  margin-top: 2em;
  margin-bottom: .5em;
}

.search-result .data-and-resources h4 a {
  text-decoration: none !important;
}
.search-result ul.resource-list li {
  display: block !important;
  padding: 0 295px 0 45px;
  position: relative;
  margin: 1em 0;
  min-height: 60px;
}

.search-result .item-list {
  margin: 0 0 0.75em 0;
  padding: 0;
}
