/**********************************************************************************************************************/

.view-case-study .views-field-views-bulk-operations {
  width: 1%;
}

.view-case-study .views-field-title {
  width: 19%;
}

.view-case-study .views-field-field-scenario {
  width: 30%;
  vertical-align: top !important;
}

.view-case-study .dss-interface-scenario-sima h2,
.view-case-study .dss-interface-integral_plan-sima h2 {
  font-size: 20px;
  margin: 0 1.5em 0 0 !important;
}

.view-case-study .views-field-field-integral-plan {
  width: 30%;
  vertical-align: top !important;
}

.view-case-study .views-field-model-status {
  width: 20%;
}

/**********************************************************************************************************************/

.dss-interface-case_study-full h1 {
  font-size: 24px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-case_study-full h2 {
  font-size: 22px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-case_study-full p {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-case_study-full .field-name-body {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-case_study-full .content {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-case_study-full .field-label {
  display: inline;
  margin: 0 5px 0 0;
}

.dss-interface-case_study-full .field-items {
  margin: 0 0 5px 5px !important;
  display: inline;
}

.dss-interface-case_study-full .field-item {
  margin: 0 5px 0 0 !important;
  display: inline;
}

/* DIV LIST ITEM*/
.dss-interface-case_study-full .field-name-field-scenario .field-name-field-variable-databoxes-cli,
.dss-interface-case_study-full .field-name-field-scenario .field-name-field-variable-databoxes-pop {
  vertical-align: top;
}

.dss-interface-case_study-full .field-name-field-scenario .field-name-field-variable-databoxes-cli .field-items,
.dss-interface-case_study-full .field-name-field-scenario .field-name-field-variable-databoxes-pop .field-items {
  display: block;
  margin: 0 0 0 30px !important;
}

.dss-interface-case_study-full .field-name-field-scenario .field-name-field-variable-databoxes-cli .field-items .field-item,
.dss-interface-case_study-full .field-name-field-scenario .field-name-field-variable-databoxes-pop .field-items .field-item {
  display: list-item !important;
  margin: 0 0 0 20px !important;
}
/*****************/

.dss-interface-case_study-full .field-name-field-scenario .field-name-field-variable-databoxes-cli .field-items,
.dss-interface-case_study-full .field-name-field-scenario .field-name-field-variable-databoxes-cli .field-label,
.dss-interface-case_study-full .field-name-field-scenario .field-name-field-variable-databoxes-pop .field-items,
.dss-interface-case_study-full .field-name-field-scenario .field-name-field-variable-databoxes-pop .field-label {
  vertical-align: top !important;
}

.dss-interface-case_study-full .field-name-field-scenario {
  border-top: 2px solid #bfbfbf;
}

.dss-interface-case_study-full .field-name-field-integral-plan {
  border-top: 2px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf;
}

.dss-interface-case_study-full .field-name-field-climate-scenario,
.dss-interface-case_study-full .field-name-field-population-scenario,
.dss-interface-case_study-full .field-name-field-energy-scenario {
  border-bottom: 1px solid #bfbfbf;
  margin: 10px 10px 10px 25px !important;
  width: 97% !important;
}

.dss-interface-case_study-full .field-name-field-agricultural-alternatives,
.dss-interface-case_study-full .field-name-field-forest-alternatives,
.dss-interface-case_study-full .field-name-field-hydropower-alternatives,
.dss-interface-case_study-full .field-name-field-mining-alternatives,
.dss-interface-case_study-full .field-name-field-connectivity-alternatives {
  border-bottom: 1px solid #bfbfbf;
  margin: 10px 10px 10px 25px !important;
  width: 97% !important;
}

.dss-interface-case_study-full .node-climate-scenario .h2,
.dss-interface-case_study-full .node-integral-plan .h2 {
  font-size: 18px !important;
}
/**********************************************************************************************************************/

.dss-interface-agricultural_alternatives-full h1 {
  font-size: 24px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-agricultural_alternatives-full h2 {
  font-size: 22px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-agricultural_alternatives-full p {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-agricultural_alternatives-full .field-label {
  display: inline;
  margin: 0 5px 0 0;
}

.dss-interface-agricultural_alternatives-full .field-items {
  margin: 0 0 5px 5px !important;
  display: inline;
}

.dss-interface-agricultural_alternatives-full .field-item {
  margin: 0 5px 0 0 !important;
  display: inline;
}
/*DIV LIST ITEM*/
.dss-interface-agricultural_alternatives-full .field-name-field-agricultural-projects .field-label {
  vertical-align: top;
}
.dss-interface-agricultural_alternatives-full .field-name-field-agricultural-projects .field-items {
  display: block;
  margin: 0 0 0 30px !important;
}

.dss-interface-agricultural_alternatives-full .field-name-field-agricultural-projects .field-items .field-item {
  display: list-item !important;
  margin: 0 0 0 20px !important;
}
/********************/
.dss-interface-agricultural_alternatives-full .field-name-field-agricultural-projects {
  border-top: 1px solid #bfbfbf;
}

.dss-interface-agricultural_alternatives-full {
  border-top: 1px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf;
}

/**********************************************************************************************************************/

.dss-interface-forest_exploitation_alternatives-full .field-label {
  display: inline;
  margin: 0 5px 0 0;
}

.dss-interface-forest_exploitation_alternatives-full .field-items {
  margin: 0 0 5px 5px !important;
  display: inline;
}

.dss-interface-forest_exploitation_alternatives-full .field-item {
  margin: 0 5px 0 0 !important;
  display: inline;
}

.dss-interface-forest_exploitation_alternatives-full {
  border-top: 1px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf;
}

/**********************************************************************************************************************/

.dss-interface-hydropower_alternatives-full h1 {
  font-size: 24px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-hydropower_alternatives-full h2 {
  font-size: 22px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-hydropower_alternatives-full p {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-hydropower_alternatives-full .field-label {
  display: inline;
  margin: 0 5px 0 0;
}

.dss-interface-hydropower_alternatives-full .field-items {
  margin: 0 0 5px 5px !important;
  display: inline;
}

.dss-interface-hydropower_alternatives-full .field-item {
  margin: 0 5px 0 0 !important;
  display: inline;
}
/*DIV LIST ITEM*/
.dss-interface-hydropower_alternatives-full .field-name-field-hydropower-projects .field-label,
.dss-interface-hydropower_alternatives-full .field-name-field-ror-hydropower-projects .field-label {
  display: block;
}
.dss-interface-hydropower_alternatives-full .field-name-field-hydropower-projects .field-items,
.dss-interface-hydropower_alternatives-full .field-name-field-ror-hydropower-projects .field-items {
  display: block;
  margin: 0 0 0 30px !important;
/*  height: 300px;
  overflow-y: scroll;*/
}

.dss-interface-hydropower_alternatives-full .field-name-field-hydropower-projects .field-items .field-item,
.dss-interface-hydropower_alternatives-full .field-name-field-ror-hydropower-projects .field-items .field-item {
  display: list-item !important;
  margin: 0 0 0 20px !important;
}
/********************/
.dss-interface-hydropower_alternatives-full .field-name-field-hydropower-projects,
.dss-interface-hydropower_alternatives-full .field-name-field-ror-hydropower-projects {
  border-top: 1px solid #bfbfbf;
}

.dss-interface-hydropower_alternatives-full {
  border-top: 1px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf;
}

/**********************************************************************************************************************/

.dss-interface-productive_land_use_alternatives-full h1 {
  font-size: 24px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-productive_land_use_alternatives-full h2 {
  font-size: 22px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-productive_land_use_alternatives-full p {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-productive_land_use_alternatives-full .field-label {
  display: inline;
  margin: 0 5px 0 0;
}

.dss-interface-productive_land_use_alternatives-full .field-items {
  margin: 0 0 5px 5px !important;
  display: inline;
}

.dss-interface-productive_land_use_alternatives-full .field-item {
  margin: 0 5px 0 0 !important;
  display: inline;
}

/*DIV LIST ITEM*/
.dss-interface-productive_land_use_alternatives-full .field-name-field-prod-land-use-projs .field-label {
  display: block;
}

.dss-interface-productive_land_use_alternatives-full .field-name-field-prod-land-use-projs .field-items {
  display: block;
  margin: 0 0 0 30px !important;
  /*  height: 300px;
    overflow-y: scroll;*/
}

.dss-interface-productive_land_use_alternatives-full .field-name-field-prod-land-use-projs .field-items .field-item {
  display: list-item !important;
  margin: 0 0 0 20px !important;
}

/********************/
.dss-interface-productive_land_use_alternatives-full .field-name-field-prod-land-use-projs {
  border-top: 1px solid #bfbfbf;
}

.dss-interface-productive_land_use_alternatives-full {
  border-top: 1px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf;
}
/**********************************************************************************************************************/

.dss-interface-mining_exploitation_alternatives-full .field-label {
  display: inline;
  margin: 0 5px 0 0;
}

.dss-interface-mining_exploitation_alternatives-full .field-items {
  margin: 0 0 5px 5px !important;
  display: inline;
}

.dss-interface-mining_exploitation_alternatives-full .field-item {
  margin: 0 5px 0 0 !important;
  display: inline;
}

.dss-interface-mining_exploitation_alternatives-full {
  border-top: 1px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf;
}

/**********************************************************************************************************************/

.dss-interface-river_floodplain_connectivity-full h1 {
  font-size: 24px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-river_floodplain_connectivity-full h2 {
  font-size: 22px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-river_floodplain_connectivity-full p {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-river_floodplain_connectivity-full .field-label {
  display: inline;
  margin: 0 5px 0 0;
}

.dss-interface-river_floodplain_connectivity-full .field-items {
  margin: 0 0 5px 5px !important;
  display: inline;
}

.dss-interface-river_floodplain_connectivity-full .field-item {
  margin: 0 5px 0 0 !important;
  display: inline;
}
/*DIV LIST ITEM*/
.dss-interface-river_floodplain_connectivity-full .field-name-field-wetlands-manag-projects .field-label {
  vertical-align: top;
}
.dss-interface-river_floodplain_connectivity-full .field-name-field-wetlands-manag-projects .field-items {
  display: block;
  margin: 0 0 0 30px !important;
}

.dss-interface-river_floodplain_connectivity-full .field-name-field-wetlands-manag-projects .field-items .field-item {
  display: list-item !important;
  margin: 0 0 0 20px !important;
}
/********************/
.dss-interface-river_floodplain_connectivity-full .field-name-field-wetlands-manag-projects {
  border-top: 1px solid #bfbfbf;
}

.dss-interface-river_floodplain_connectivity-full {
  border-top: 1px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf;
}

/*********************************************************************************************************************/

.dss-interface-scenario-full h1 {
  font-size: 24px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-scenario-full h2 {
  font-size: 22px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-scenario-full p {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-scenario-full .field-name-body {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-scenario-full .content {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-scenario-full .field-label {
  display: inline;
  margin: 0 5px 0 0;
}

.dss-interface-scenario-full .field-items {
  margin: 0 0 5px 5px !important;
  display: inline;
}

.dss-interface-scenario-full .field-item {
  margin: 0 5px 0 0 !important;
  display: inline;
}

/* DIV LIST ITEM*/
.dss-interface-scenario-full .field-name-field-variable-databoxes-cli,
.dss-interface-scenario-full .field-name-field-variable-databoxes-pop {
  vertical-align: top;
}

.dss-interface-scenario-full .field-name-field-variable-databoxes-cli .field-items,
.dss-interface-scenario-full .field-name-field-variable-databoxes-pop .field-items {
  display: block;
  margin: 0 0 0 30px !important;
}

.dss-interface-scenario-full .field-name-field-variable-databoxes-cli .field-items .field-item,
.dss-interface-scenario-full .field-name-field-variable-databoxes-pop .field-items .field-item {
  display: list-item !important;
  margin: 0 0 0 20px !important;
}
/*****************/

.dss-interface-scenario-full .field-name-field-variable-databoxes-cli .field-items,
.dss-interface-scenario-full .field-name-field-variable-databoxes-cli .field-label,
.dss-interface-scenario-full .field-name-field-variable-databoxes-pop .field-items,
.dss-interface-scenario-full .field-name-field-variable-databoxes-pop .field-label {
  vertical-align: top !important;
}

.dss-interface-scenario-full {
  border-top: 2px solid #bfbfbf;
}

.dss-interface-scenario-full .field-name-field-climate-scenario,
.dss-interface-scenario-full .field-name-field-population-scenario,
.dss-interface-scenario-full .field-name-field-energy-scenario {
  border-bottom: 1px solid #bfbfbf;
  margin: 10px 10px 10px 25px !important;
  width: 97% !important;
}

/**********************************************************************************************************************/

.dss-interface-climate_scenario-full h1 {
  font-size: 24px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-climate_scenario-full h2 {
  font-size: 22px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-climate_scenario-full p {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-climate_scenario-full .field-name-body {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-climate_scenario-full .content {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-climate_scenario-full .field-label {
  display: inline;
  margin: 0 5px 0 0;
}

.dss-interface-climate_scenario-full .field-items {
  margin: 0 0 5px 5px !important;
  display: inline;
}

.dss-interface-climate_scenario-full .field-item {
  margin: 0 5px 0 0 !important;
  display: inline;
}

/* DIV LIST ITEM*/
.dss-interface-climate_scenario-full .field-name-field-variable-databoxes-cli,
.dss-interface-climate_scenario-full .field-name-field-variable-databoxes-pop {
  vertical-align: top;
}

.dss-interface-climate_scenario-full .field-name-field-variable-databoxes-cli .field-items,
.dss-interface-climate_scenario-full .field-name-field-variable-databoxes-pop .field-items {
  display: block;
  margin: 0 0 0 30px !important;
}

.dss-interface-climate_scenario-full .field-name-field-variable-databoxes-cli .field-items .field-item,
.dss-interface-climate_scenario-full .field-name-field-variable-databoxes-pop .field-items .field-item {
  display: list-item !important;
  margin: 0 0 0 20px !important;
}
/*****************/

.dss-interface-climate_scenario-full .field-name-field-variable-databoxes-cli .field-items,
.dss-interface-climate_scenario-full .field-name-field-variable-databoxes-cli .field-label,
.dss-interface-climate_scenario-full .field-name-field-variable-databoxes-pop .field-items,
.dss-interface-climate_scenario-full .field-name-field-variable-databoxes-pop .field-label {
  vertical-align: top !important;
}

.dss-interface-climate_scenario-full {
  border-top: 1px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf;
}

.dss-interface-climate_scenario-full .field-name-field-climate-scenario,
.dss-interface-climate_scenario-full .field-name-field-population-scenario,
.dss-interface-climate_scenario-full .field-name-field-energy-scenario {
  border-bottom: 1px solid #bfbfbf;
  margin: 10px 10px 10px 25px !important;
  width: 97% !important;
}

/**********************************************************************************************************************/

.dss-interface-population_scenario-full h1 {
  font-size: 24px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-population_scenario-full h2 {
  font-size: 22px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-population_scenario-full p {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-population_scenario-full .field-name-body {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-population_scenario-full .content {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-population_scenario-full .field-label {
  display: inline;
  margin: 0 5px 0 0;
}

.dss-interface-population_scenario-full .field-items {
  margin: 0 0 5px 5px !important;
  display: inline;
}

.dss-interface-population_scenario-full .field-item {
  margin: 0 5px 0 0 !important;
  display: inline;
}

/* DIV LIST ITEM*/
.dss-interface-population_scenario-full .field-name-field-variable-databoxes-cli,
.dss-interface-population_scenario-full .field-name-field-variable-databoxes-pop {
  vertical-align: top;
}

.dss-interface-population_scenario-full .field-name-field-variable-databoxes-cli .field-items,
.dss-interface-population_scenario-full .field-name-field-variable-databoxes-pop .field-items {
  display: block;
  margin: 0 0 0 30px !important;
}

.dss-interface-population_scenario-full .field-name-field-variable-databoxes-cli .field-items .field-item,
.dss-interface-population_scenario-full .field-name-field-variable-databoxes-pop .field-items .field-item {
  display: list-item !important;
  margin: 0 0 0 20px !important;
}
/*****************/

.dss-interface-population_scenario-full .field-name-field-variable-databoxes-cli .field-items,
.dss-interface-population_scenario-full .field-name-field-variable-databoxes-cli .field-label,
.dss-interface-population_scenario-full .field-name-field-variable-databoxes-pop .field-items,
.dss-interface-population_scenario-full .field-name-field-variable-databoxes-pop .field-label {
  vertical-align: top !important;
}

.dss-interface-population_scenario-full {
  border-top: 1px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf;
}

.dss-interface-population_scenario-full .field-name-field-climate-scenario,
.dss-interface-population_scenario-full .field-name-field-population-scenario,
.dss-interface-population_scenario-full .field-name-field-energy-scenario {
  border-bottom: 1px solid #bfbfbf;
  margin: 10px 10px 10px 25px !important;
  width: 97% !important;
}

/**********************************************************************************************************************/

.dss-interface-energy_scenario-full h1 {
  font-size: 24px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-energy_scenario-full h2 {
  font-size: 22px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-energy_scenario-full p {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-energy_scenario-full .field-name-body {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-energy_scenario-full .content {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-energy_scenario-full .field-label {
  display: inline;
  margin: 0 5px 0 0;
}

.dss-interface-energy_scenario-full .field-items {
  margin: 0 0 5px 5px !important;
  display: inline;
}

.dss-interface-energy_scenario-full .field-item {
  margin: 0 5px 0 0 !important;
  display: inline;
}

/* DIV LIST ITEM*/
.dss-interface-energy_scenario-full .field-name-field-variable-databoxes-cli,
.dss-interface-energy_scenario-full .field-name-field-variable-databoxes-pop {
  vertical-align: top;
}

.dss-interface-energy_scenario-full .field-name-field-variable-databoxes-cli .field-items,
.dss-interface-energy_scenario-full .field-name-field-variable-databoxes-pop .field-items {
  display: block;
  margin: 0 0 0 30px !important;
}

.dss-interface-energy_scenario-full .field-name-field-variable-databoxes-cli .field-items .field-item,
.dss-interface-energy_scenario-full .field-name-field-variable-databoxes-pop .field-items .field-item {
  display: list-item !important;
  margin: 0 0 0 20px !important;
}
/*****************/

.dss-interface-energy_scenario-full .field-name-field-variable-databoxes-cli .field-items,
.dss-interface-energy_scenario-full .field-name-field-variable-databoxes-cli .field-label,
.dss-interface-energy_scenario-full .field-name-field-variable-databoxes-pop .field-items,
.dss-interface-energy_scenario-full .field-name-field-variable-databoxes-pop .field-label {
  vertical-align: top !important;
}

.dss-interface-energy_scenario-full {
  border-top: 1px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf;
}

.dss-interface-energy_scenario-full .field-name-field-climate-scenario,
.dss-interface-energy_scenario-full .field-name-field-population-scenario,
.dss-interface-energy_scenario-full .field-name-field-energy-scenario {
  border-bottom: 1px solid #bfbfbf;
  margin: 10px 10px 10px 25px !important;
  width: 97% !important;
}

/**********************************************************************************************************************/

.view-integral-plan-list .views-field-title {
  width: 10%;
}

.view-integral-plan-list .views-field-field-hydropower-alternatives {
  width: 18%;
  vertical-align: top !important;
}

.view-integral-plan-list .views-field-field-agricultural-alternatives {
  width: 18%;
  vertical-align: top !important;
}

.view-integral-plan-list .views-field-field-forest-alternatives {
  width: 18%;
  vertical-align: top !important;
}

.view-integral-plan-list .views-field-field-mining-alternatives {
  width: 18%;
}

.view-integral-plan-list .views-field-field-connectivity-alternatives {
  width: 18%;
}

.view-integral-plan-list .views-field-field-hydropower-alternatives h2,
.view-integral-plan-list .views-field-field-agricultural-alternatives h2,
.view-integral-plan-list .views-field-field-forest-alternatives h2,
.view-integral-plan-list .views-field-field-mining-alternatives h2,
.view-integral-plan-list .views-field-field-connectivity-alternatives h2 {
  font-size: 20px;
  margin: 0 1.5em 0 0 !important;
}

/**********************************************************************************************************************/

.dss-interface-integral_plan-full h1 {
  font-size: 24px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-integral_plan-full h2 {
  font-size: 22px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-integral_plan-full p {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-integral_plan-full .field-name-body {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-integral_plan-full .content {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-integral_plan-full .field-label {
  display: inline;
  margin: 0 5px 0 0;
}

.dss-interface-integral_plan-full .field-items {
  margin: 0 0 5px 5px !important;
  display: inline;
}

.dss-interface-integral_plan-full .field-item {
  margin: 0 5px 0 0 !important;
  display: inline;
}

.dss-interface-integral_plan-full .field-name-field-scenario .field-name-field-variable-databoxes-cli .field-items,
.dss-interface-integral_plan-full .field-name-field-scenario .field-name-field-variable-databoxes-cli .field-label,
.dss-interface-integral_plan-full .field-name-field-scenario .field-name-field-variable-databoxes-pop .field-items,
.dss-interface-integral_plan-full .field-name-field-scenario .field-name-field-variable-databoxes-pop .field-label {
  vertical-align: top !important;
}

.dss-interface-integral_plan-full .field-name-field-scenario {
  border-top: 2px solid #bfbfbf;
}

.dss-interface-integral_plan-full .field-name-field-integral-plan {
  border-top: 2px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf;
}

.dss-interface-integral_plan-full .field-name-field-agricultural-alternatives,
.dss-interface-integral_plan-full .field-name-field-forest-alternatives,
.dss-interface-integral_plan-full .field-name-field-hydropower-alternatives,
.dss-interface-integral_plan-full .field-name-field-mining-alternatives,
.dss-interface-integral_plan-full .field-name-field-connectivity-alternatives,
.dss-interface-integral_plan-full .field-name-field-prod-landuse-alternatives {
  border-bottom: 1px solid #bfbfbf;
  margin: 10px 10px 10px 25px !important;
  width: 97% !important;
}

.dss-interface-integral_plan-full .field-name-field-agricultural-alternatives {
  border-top: 1px solid #bfbfbf;
}

.dss-interface-integral_plan-full {
  border-top: 1px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf;
}

/**********************************************************************************************************************/


.dss-interface-hydropower-full h1 {
  font-size: 24px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-hydropower-full h2 {
  font-size: 22px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-hydropower-full p {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-hydropower-full .field-label {
  display: inline;
  margin: 0 5px 0 0;
}

.dss-interface-hydropower-full .field-items {
  margin: 0 0 5px 5px !important;
  display: inline;
}

.dss-interface-hydropower-full .field-item {
  margin: 0 5px 0 0 !important;
  display: inline;
}

.dss-interface-hydropower-full .table-responsive {
  height: 250px !important;
  overflow-y: scroll;
}

.dss-interface-hydropower-full .ficha-project {
  width: 2100px !important;
}

.dss-interface-hydropower-full .td,
.dss-interface-hydropower-full .th {
  display: table-cell;
  margin: 2px 2px 2px 2px !important;
  padding: 2px 2px 2px 2px !important;
  height: 10px;
  vertical-align: inherit;
}

.dss-interface-hydropower-full .node-project {
  border-bottom: 1px solid #bfbfbf;
}

.dss-interface-hydropower-full .content {
  border-top: 1px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf;
}

/**********************************************************************************************************************/

.dss-interface-ror_hydropower_plant-full h1 {
  font-size: 24px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-ror_hydropower_plant-full h2 {
  font-size: 22px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-ror_hydropower_plant-full p {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-ror_hydropower_plant-full .field-label {
  display: inline;
  margin: 0 5px 0 0;
}

.dss-interface-ror_hydropower_plant-full .field-items {
  margin: 0 0 5px 5px !important;
  display: inline;
}

.dss-interface-ror_hydropower_plant-full .field-item {
  margin: 0 5px 0 0 !important;
  display: inline;
}

.dss-interface-ror_hydropower_plant-full .node-project {
  border-bottom: 1px solid #bfbfbf;
}

.dss-interface-ror_hydropower_plant-full .content {
  border-top: 1px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf;
}
.dss-interface-ror_hydropower_plant-full .field-label {
  display: inline;
  margin: 0 5px 0 0;
}

.dss-interface-ror_hydropower_plant-full .field-items {
  margin: 0 0 5px 5px !important;
  display: inline;
}

.dss-interface-ror_hydropower_plant-full .field-item {
  margin: 0 5px 0 0 !important;
  display: inline;
}
/**********************************************************************************************************************/

.view-scenario-list .views-field-title {
  width: 13%;
}

.view-scenario-list .views-field-field-climate-scenario {
  width: 29%;
  vertical-align: top !important;
}

.view-scenario-list .views-field-field-energy-scenario {
  width: 29%;
  vertical-align: top !important;
}

.view-scenario-list .views-field-field-population-scenario {
  width: 29%;
}

.view-scenario-list .dss-interface-climate_scenario-sima h2,
.view-scenario-list .dss-interface-energy_scenario-sima h2,
.view-scenario-list .dss-interface-population_scenario-sima h2 {
  font-size: 20px;
  margin: 0 1.5em 0 0 !important;
}

/**********************************************************************************************************************/

.dss-interface-resource-full h1 {
  font-size: 24px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-resource-full h2 {
  font-size: 22px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-resource-full p {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-resource-full .field-label {
  display: inline;
  margin: 0 5px 0 0;
}

.dss-interface-resource-full .field-items {
  margin: 0 0 5px 5px !important;
  display: inline;
}

.dss-interface-resource-full .field-item {
  margin: 0 5px 0 0 !important;
  display: inline;
}

.dss-interface-resource-full .node-project {
  border-bottom: 1px solid #bfbfbf;
}

.dss-interface-resource-full .content {
  border-top: 1px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf;
}
.dss-interface-ror_hydropower_plant-full .field-label {
  display: inline;
  margin: 0 5px 0 0;
}

.dss-interface-ror_hydropower_plant-full .field-items {
  margin: 0 0 5px 5px !important;
  display: inline;
}

.dss-interface-ror_hydropower_plant-full .field-item {
  margin: 0 5px 0 0 !important;
  display: inline;
}

/**********************************************************************************************************************/

.dss-interface-dataset-full h1 {
  font-size: 24px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-dataset-full h2 {
  font-size: 22px !important;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-dataset-full p {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.dss-interface-dataset-full .field-label-above .field-label {
  display: inline;
  margin: 0 5px 0 0;
}

.dss-interface-dataset-full .field-label-above .field-items {
  margin: 0 0 5px 5px !important;
  display: inline;
}

.dss-interface-dataset-full .field-label-above .field-item {
  margin: 0 5px 0 0 !important;
  display: inline;
}

.dss-interface-dataset-full .node-project {
  border-bottom: 1px solid #bfbfbf;
}

.dss-interface-dataset-full .content {
  border-top: 1px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf;
}

.dss-interface-dataset-full .field-name-field-context .field-items .field-item {
  display: list-item !important;
  margin: 0 0 0 100px !important;
}

.dss-interface-dataset-full .field-name-field-dimensions-labels .field-items .field-item {
  display: list-item !important;
  margin: 0 0 0 100px !important;
}

/**********************************************************************************************************************/

.custom_context_help_content {
  padding: 10px 15px 15px 15px !important;
  width: 480px !important;
  height: 300px !important;
  overflow-y: scroll !important;
}

/**********************************************************************************************************************/
.field-name-field-wb-space-domain {
  display: none !important;
}

.field-name-field-wb-temporary-domain {
  display: none !important;
}
/**********************************************************************************************************************/

.views-field-field-selected-objectives .field-content .item-list {
  border: 1px solid #ddd;
}
.views-field-field-selected-objectives .field-content .item-list li {
  color: #333333;
  display: block;
  padding: 6px 20px 6px 10px;
  position: relative;
  line-height: 22px;
}

/**********************************************************************************************************************/

.float-right {
  float: right;
}

.sima-hidden {
  visibility: hidden;
}

#sima-strategic-evaluation,
#sima-analytical-evaluation,
.sima-evaluation {
  margin-right: 70px !important;
  margin-left: 70px !important;
}

.pane-dss-interface-sima-evaluation {
  margin-bottom: 0px !important;
}
