.pane-dss-interface-sima-demo-front,
#block-dss-interface-sima-demo-front {
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
}

.pane-dss-interface-sima-demo-front .media-overlay .media-heading,
#block-dss-interface-sima-demo-front .media-overlay .media-heading {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: #ffffff;
  font-size: 13px;
  left: 0;
  line-height: 18px;
  margin: 0;
  padding: 12px 10px;
  position: absolute;
  right: 0;
  z-index: 1;
}

.pane-dss-interface-sima-demo-front .front-teaser,
#block-dss-interface-sima-demo-front .front-teaser {
  padding: 20px 20px 25px 46px;
  color: #0a9900;
}

#block-dss-interface-sima-demo-front .front-teaser p {
  color: #0a9900;
}

.sima-front-box {
  background-color: #006941;
  color: #ffffff;
  text-align: center;
}

.sima-front-box .sima-box-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
}
.sima-front-box p.front-box {
  height: 178px !important;
  padding: 8px;
  font-size: 85%;
}
