.hola {
    height: 100%;
    margin: 0;
}

#map {
    width: 100%;
    height: 600px;
}

#cover-spin {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#cover-spin::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.mapaInicio {
    display: flex;
    position: relative;
}

.botonFlotante {
    position: absolute;
    z-index: 1;
    bottom: 15%;
    right: 1%;
    -webkit-box-shadow: -9px 13px 19px 0px rgba(0, 0, 0, 0.50);
    border: solid 2px;
}